@borderRadius: .5rem;

.rounded() {
    border-radius: @borderRadius;
}

.rounded-bottom() {
    border-radius: 0 0 @borderRadius @borderRadius;
}

.rounded-top() {
    border-radius: @borderRadius @borderRadius 0 0;
}

.form-rounded() {
    border-radius: .2rem;
}
