@lightenStep: 7%;

@background: hsl(0, 0%, 13%);
@foreground: hsl(96, 38%, 95%);
@success: hsl(108, 24%, 48%);
@failure: hsl(18, 100%, 50%);
@accent: hsl(233, 47%, 74%);

@background-1: lighten(@background, @lightenStep * 0);
@background-2: lighten(@background, @lightenStep * 1);
@background-3: lighten(@background, @lightenStep * 2);
@background-4: lighten(@background, @lightenStep * 3);

@foreground-1: lighten(@foreground, @lightenStep * 0);
@foreground-2: lighten(@foreground, @lightenStep * 1);
@foreground-3: lighten(@foreground, @lightenStep * 2);
@foreground-4: lighten(@foreground, @lightenStep * 3);

@success-1: lighten(@success, @lightenStep * 0);
@success-2: lighten(@success, @lightenStep * 1);
@success-3: lighten(@success, @lightenStep * 2);
@success-4: lighten(@success, @lightenStep * 3);

@failure-1: lighten(@failure, @lightenStep * 0);
@failure-2: lighten(@failure, @lightenStep * 1);
@failure-3: lighten(@failure, @lightenStep * 2);
@failure-4: lighten(@failure, @lightenStep * 3);

@accent-1: lighten(@accent, @lightenStep * 0);
@accent-2: lighten(@accent, @lightenStep * 1);
@accent-3: lighten(@accent, @lightenStep * 2);
@accent-4: lighten(@accent, @lightenStep * 3);
