@import './colors.less';

.inner-shadow() {
    box-shadow: 0 0 4px 0 darken($background, @lightenStep) inset;
}

.inner-shadow(@color) {
    box-shadow: 0 0 4px 0 darken(@color, @lightenStep) inset;
}
