@import './colors.less';

.icon-hover-button {
    cursor: pointer;
    path {
        transition: fill .3s;
    }

    &:hover path {
        fill: @accent-1;
    }

}

.icon-nav-button {
    .icon-hover-button();
    position: relative;
    overflow: visible;

    path {
        fill: lighten(@background, 40%);
    }
}

.icon-dark path {
    fill: @background-1;
}

.icon-success path {
    fill: @success-1;
}
