<template>
  <context-menu></context-menu>
  <nav-bar></nav-bar>
  <main @mousemove="setTentacleTarget">
    <tentacle-background
        v-if="$route.meta.tentacle"
        v-bind="$route.meta.tentacle"
        :target-x="tentacleTarget.x"
        :target-y="tentacleTarget.y"
    ></tentacle-background>
    <router-view/>
  </main>
  <footer>
    <section>
      <a href="https://gitlab.com/Ivanchgeek/svgear" target="_blank">Git page</a>
      <a href="https://t.me/ivanchgeek" target="_blank">author: Ivanchgeek</a>
    </section>
  </footer>
  <loading-overlay v-if="loadingStore.loading"></loading-overlay>
  <dialog-overlay v-if="dialogStore.visible"></dialog-overlay>
</template>

<script setup>
import { reactive } from 'vue'
import '@/styles/index.less'
import { notifyNoChrome } from '@/composables/notifyNoChrome'
import { useShortcuts } from '@/composables/shortcuts'
import useLoadingStore from '@/stores/loadingStore'
import useDialogStore from '@/stores/dialogStore'
import TentacleBackground from '@/components/TentacleBackground.vue'
import ContextMenu from '@/components/ContextMenu/ContextMenu.vue'
import NavBar from '@/components/NavBar.vue'
import LoadingOverlay from '@/components/LoadingOverlay.vue'
import DialogOverlay from '@/components/Dialog/DialogOverlay.vue'

notifyNoChrome()
useShortcuts()

const loadingStore = useLoadingStore()
const dialogStore = useDialogStore()

const tentacleTarget = reactive({x: 0, y: 0})
function setTentacleTarget({ pageX, pageY }) {
  Object.assign(tentacleTarget, {
    x: pageX, 
    y: pageY,
  })
}
</script>

<style lang="less" scoped>
@import '@/styles/bundle.less';

header {
  .rounded-bottom();
  background: @background-2;
  height: @navHeight;
  text-align: center;
  line-height: @navHeight;
  flex-shrink: 0;
}

main {
  position: relative;
  min-height: calc(100vh - @navHeight);
  height: max-content;
  flex-grow: 1;
  width: 100%;
  box-sizing: border-box;
  padding: .5rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer {
  .rounded-top();
  height: max-content;
  background: @background-2;
  flex-shrink: 0;

  section {
    height: 2rem;
    font-size: .8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    a {
      color: @accent-1;
    }

  }

}

</style>

