<template>
    <main>
        <img :src="LogoSrc" alt="svgear-logo" class="logo">
        <p>Svgear is't available on mobile devices yet. Use your desktop browser to access it.</p>
    </main>
</template>

<script setup>
import '@/styles/index.less';
import LogoSrc from '@/assets/logo.svg'
</script>

<style lang="less" scoped>
@import '@/styles/bundle.less';

main {
    width: 100%;
    height: 50vh;
    margin-top: 25vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    @keyframes rotate {
        0% {transform: rotate(0deg);}
        100% {transform: rotate(360deg);}
    }

    .logo {
        width: 50%;
        animation: rotate 5s infinite linear;
    }

    p {
        width: 80%;
        font-size: 1.1rem;
    }

}
</style>
