<template>
<target-display name="input">
    <template v-slot:navbar>
        <font-awesome-icon 
            icon="gear" 
            class="icon-hover-button fa-l"
            @click="callSettings()"
        />
    </template>
</target-display>
</template>

<script setup>
import useDialogStore from '@/stores/dialogStore'
import TargetDisplay from '@/components/TargetDisplay.vue'
import InputAreaSettings from '@/components/Dialog/InputAreaSettings.vue'

const dialogStore = useDialogStore()

function callSettings() {
    dialogStore.callDialog(InputAreaSettings)
}
</script>
