<template>
<target-display
    :name="floating ? 'floatingResult' : 'result'"
    apply-filter 
    :filter="filter" 
    :error="renderError"
>
    <template v-slot:navbar>
        <font-awesome-icon
            v-if="!floating"
            :icon="nodeEditorOptions.resultViewOptions.maximized ? 'minimize' : 'maximize'"
            class="icon-hover-button fa-l"
            @click="nodeEditorOptions.toggleResultViewMaximized()"
        />
        <font-awesome-icon
            icon="gear"
            class="icon-hover-button fa-l"
            @click="callSettings()"
        />
    </template>
</target-display>
</template>

<script setup>
import { defineProps } from 'vue'
import { useFilterRender } from '@/composables/filterRender'
import useNodeEditorOptions from '@/stores/nodeEditorOptionsStore'
import useDialogStore from '@/stores/dialogStore'
import TargetDisplay from '@/components/TargetDisplay.vue'
import ResultAreaSettings from '@/components/Dialog/ResultAreaSettings.vue'

defineProps({
    floating: Boolean
})

const nodeEditorOptions = useNodeEditorOptions()
const dialogStore = useDialogStore()

const { filter, renderError } = useFilterRender()

function callSettings() {
    dialogStore.callDialog(ResultAreaSettings)
}
</script>
