<template>
    <div class="faq-image">
        <img :src="src"> 
    </div>
</template>

<script setup>
import { defineProps } from 'vue'

defineProps({
    src: String,
})
</script>

<style lang="less" scoped>
@import '@/styles/bundle.less';

.faq-image {
    .rounded();
    width: 100%;
    height: max-content;
    overflow: hidden;
    padding: .5em;
    margin: auto;
    background: @background-2;
    display: flex;
    justify-content: center;

    img {
        max-width: 100%;
    }

}
</style>
