<template>
    <div class="faq-pre">
<pre>{{ content }}</pre>
    </div>
</template>

<script setup>
import { defineProps } from 'vue'

defineProps({
    content: String
})
</script>

<style lang="less" scoped>
@import '@/styles/bundle.less';

.faq-pre {
    .rounded();
    width: 100%;
    height: max-content;
    padding: .5em;
    background: @background-2;
    font-size: 1.5em;
    margin: .5em 0;
}
</style>
