<template>
    <h2 
        class="faq-section-heading" 
        :data-section="name" 
    >
        # {{ $t(topicContext(`${name}.title`)) }}
    </h2>
    <section class="faq-section">
        <slot></slot>
    </section>
</template>

<script setup>
import { defineProps } from 'vue'
import { useFAQTools } from '@/composables/faqTools'

defineProps({
    name: String
})

const { topicContext } = useFAQTools()
</script>

<style lang="less" scoped>
.faq-section-heading {
    margin-top: 1em;
    margin-bottom: .5em;
}
</style>
