<template>
    <aside
        :class="{submenu}"
        ref="container"
    >
        <p
            v-for="point in points"
            :key="point.text"
            :class="{separate: point.separate}"
            @click.left.self="(event) => { if (point.click) point.click(event) }"
            @mouseover="visibleSub = point.text"
        >
            {{ point.text }}
            <template v-if="point.children">
                <span>▶</span>
                <context-menu-display
                    v-if="visibleSub === point.text"
                    :points="point.children"
                    submenu
                    :parent-position="position"
                ></context-menu-display>
            </template>
        </p>
    </aside>
</template>


<script setup>
import { defineProps, ref, reactive, watch } from 'vue'

const props = defineProps({
    points: Array,
    x: Number,
    y: Number,
    submenu: Boolean,
    parentPosition: Object,
})

const container = ref(null)

const rightSub = { left: '100%',  top: '0' }
const leftSub  = { left: '-100%', top: '0' }
const position = reactive({...rightSub})

const visibleSub = ref(null)

watch(position, () => {
    if (!props.submenu) visibleSub.value = ''
})

watch([container, props], () => {
    if (!container.value) return
    
    const rect = container.value.getBoundingClientRect()
    const docWidth = document.documentElement.clientWidth
    const docHeight = document.documentElement.clientHeight

    const set = (val) => Object.assign(position, val)
    const verticalCorrection = () => {
        if (props.submenu) {
            set({top: (docHeight - rect.bottom) + 'px'})
        } else {
            set({top: (docHeight - rect.height) + 'px'})
        }
    }

    if (props.submenu) {

        set(rect.right < docWidth ? rightSub : leftSub)
        if (rect.bottom > docHeight) verticalCorrection()

    } else {

        if (props.x + rect.width < docWidth) {
            set({left: props.x + 'px', top: props.y + 'px'})
        } else {
            set({left: (docWidth - rect.width) + 'px', top: props.y + 'px'})
        }
        if (props.y + rect.height > docHeight) verticalCorrection()

    }
})
</script>

<style lang="less" scoped>
@import '@/styles/bundle.less';

aside {
    position: absolute;
    min-width: 10rem;
    width: max-content;
    height: max-content;
    overflow: visible;
    left: v-bind('position.left');
    top: v-bind('position.top');
    z-index: 100;
    font-size: .8rem;
    display: flex;
    flex-direction: column;

    &:has(p:hover > .submenu) > p:not(:hover) {
        opacity: .4;
    }

    p {
        background: @background-4;
        position: relative;
        padding: .2rem .4rem;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        gap: .3rem;

        &:hover {
            background: @accent-1;
            color: @background-1;
        }

        &:not(:first-child).separate {
            border-top: 1px solid fade(@foreground-1, 40%);
        }
    }

}
</style>
