<template>
    <context-menu-display
        v-if="visible"
        :x="position.x" 
        :y="position.y"
        :points="contextMenu.points"
    ></context-menu-display>
</template>

<script setup>
import { onMounted, onUnmounted, reactive, ref } from 'vue'
import useContextMenu from '@/stores/contextMenu'
import ContextMenuDisplay from '@/components/ContextMenu/ContextMenuDisplay.vue';

const contextMenu = useContextMenu()

const visible = ref(false)

const position = reactive({
    x: 0,
    y: 0,
})

function handleMenu(event) {
    if (!contextMenu.points.length) return
    event.preventDefault()
    contextMenu.clearOldPoints()
    position.x = event.pageX
    position.y = event.pageY
    visible.value = true
}

function closeMenu() {
    visible.value = false
}

onMounted(() => {
    document.addEventListener('contextmenu', handleMenu)
    document.addEventListener('click', closeMenu)
    document.addEventListener('scroll', closeMenu)
})

onUnmounted(() => {
    document.removeEventListener('contextmenu', handleMenu)
    document.removeEventListener('click', closeMenu)
    document.removeEventListener('scroll', closeMenu)
})

</script>
