<template>
<filter-node v-slot="tools">

<node-form-section>
    <node-form-label>
        mode:
        <node-form-select 
            :options="[
                    'normal', 'multiply', 'screen', 'overlay', 'darken', 'lighten', 
                    'color-dodge', 'color-burn', 'hard-light', 'soft-light', 'difference', 
                    'exclusion', 'hue', 'saturation', 'color', 'luminosity'
                ]"
            v-model="tools.values.mode"
        ></node-form-select>
    </node-form-label>
</node-form-section>
    
</filter-node>
</template>

<script setup>
import FilterNode from '@/components/FilterNode'
import NodeFormSection from '@/components/NodeForm/NodeFormSection.vue'
import NodeFormLabel from '@/components/NodeForm/NodeFormLabel.vue'
import NodeFormSelect from '@/components/NodeForm/NodeFormSelect.vue'
</script>
