<template>
<filter-node @tools="handleTools">

    <node-form-section v-if="tools.values.useSeparatedOrder">
        <node-form-label>
            w/h:
            <node-form-range
                :min="1"
                :max="6"
                :step="1"
                v-model="tools.values.orderX"
            ></node-form-range>
            <node-form-range
                :min="1"
                :max="6"
                :step="1"
                v-model="tools.values.orderY"
            ></node-form-range>
        </node-form-label>
    </node-form-section>

    <node-form-section v-else>
        <node-form-label>
            size:
            <node-form-range
                :min="1"
                :max="6"
                :step="1"
                v-model="tools.values.order"
            ></node-form-range>
        </node-form-label>
    </node-form-section>

    <node-form-section>
        <node-form-label>
            matrix:
            <node-form-matrix 
                v-model="tools.values.kernelMatrix"
            ></node-form-matrix>
        </node-form-label>
    </node-form-section>

    <node-form-advanced-options>

        <node-form-section>
            <node-form-label>
                edge mode:
                <node-form-select
                    :options="['none', 'duplicate', 'wrap']"
                    v-model="tools.values.edgeMode"
                ></node-form-select>
            </node-form-label>
        </node-form-section>

        <node-form-section>
            <node-form-label>
                separated size:
                <node-form-switch
                    v-model="tools.values.useSeparatedOrder"
                ></node-form-switch>
            </node-form-label>
        </node-form-section>

        <node-form-section separate weak>
            <node-form-label>
                use divisor:
                <node-form-switch
                    v-model="tools.values.useDivisor"
                ></node-form-switch>
            </node-form-label>
        </node-form-section>
        <node-form-section v-if="tools.values.useDivisor">
            <node-form-label>
                divisor:
                <node-form-range
                    :min="1e-2"
                    :max="1"
                    :step="1e-2"
                    v-model="tools.values.divisor"
                ></node-form-range>
            </node-form-label>
        </node-form-section>

        <node-form-section separate weak>
            <node-form-label>
                use bias:
                <node-form-switch
                    v-model="tools.values.useBias"
                ></node-form-switch>
            </node-form-label>
        </node-form-section>
        <node-form-section v-if="tools.values.useBias">
            <node-form-label>
                bias:
                <node-form-range
                    :min="1e-2"
                    :max="1"
                    :step="1e-2"
                    v-model="tools.values.bias"
                ></node-form-range>
            </node-form-label>
        </node-form-section>

        <node-form-section separate weak>
            <node-form-label>
                use target offset:
                <node-form-switch
                    v-model="tools.values.useOffset"
                ></node-form-switch>
            </node-form-label>
        </node-form-section>
        <template v-if="tools.values.useOffset">
            <node-form-section>
                <node-form-label>
                    x:
                    <node-form-range
                        :min="-tools.values.orderX"
                        :max="tools.values.orderX"
                        :step="1"
                        v-model="tools.values.targetX"
                    ></node-form-range>
                </node-form-label>
            </node-form-section>
            <node-form-section>
                <node-form-label>
                    y:
                    <node-form-range
                        :min="-tools.values.orderY"
                        :max="tools.values.orderY"
                        :step="1"
                        v-model="tools.values.targetY"
                    ></node-form-range>
                </node-form-label>
            </node-form-section>
        </template>

        <node-form-section separate weak>
            <node-form-label>
                use kernel unit length:
                <node-form-switch
                    v-model="tools.values.useKernelUnitLength"
                ></node-form-switch>
            </node-form-label>
        </node-form-section>
        <template v-if="tools.values.useKernelUnitLength">
            <node-form-section>
                <node-form-label>
                    dx:
                    <node-form-range
                        :min="1"
                        :max="tools.values.orderX"
                        :step="1"
                        v-model="tools.values.kernelUnitX"
                    ></node-form-range>
                </node-form-label>
            </node-form-section>
            <node-form-section>
                <node-form-label>
                    dy:
                    <node-form-range
                        :min="1"
                        :max="tools.values.orderY"
                        :step="1"
                        v-model="tools.values.kernelUnitY"
                    ></node-form-range>
                </node-form-label>
            </node-form-section>
        </template>

        <node-form-section separate weak>
            <node-form-label>
                preserve alpha:
                <node-form-switch
                    v-model="tools.values.preserveAlpha"
                ></node-form-switch>
            </node-form-label>
        </node-form-section>

    </node-form-advanced-options>
    
</filter-node>
</template>

<script setup>
import { watch, toValue } from 'vue'
import { useNodeTools } from '@/composables/nodeTools'
import FilterNode from '@/components/FilterNode'
import NodeFormSection from '@/components/NodeForm/NodeFormSection.vue'
import NodeFormLabel from '@/components/NodeForm/NodeFormLabel.vue'
import NodeFormMatrix from '@/components/NodeForm/NodeFormMatrix.vue'
import NodeFormRange from '@/components/NodeForm/NodeFormRange.vue'
import NodeFormSwitch from '@/components/NodeForm/NodeFormSwitch.vue'
import NodeFormSelect from '@/components/NodeForm/NodeFormSelect.vue'
import NodeFormAdvancedOptions from '@/components/NodeForm/NodeFormAdvancedOptions.vue'

const {handleTools, tools} = useNodeTools()

watch([
    () => tools.values.order,
    () => tools.values.useSeparatedOrder,
], () => {
    if (!tools.values.useSeparatedOrder) {
        tools.values.orderX = tools.values.order
        tools.values.orderY = tools.values.order
    }
})

watch([
    () => tools.values.orderX,
    () => tools.values.orderY,
    () => tools.values.useSeparatedOrder,
], () => {
    if (tools.values.useSeparatedOrder)
        tools.values.order = Math.max(tools.values.orderX, tools.values.orderY)
})

watch([
    () => tools.values.orderX,
    () => tools.values.orderY,
], () => {
    const values = toValue(tools.values)
    const orderY = values.useSeparatedOrder ? values.orderY : values.order
    const orderX = values.useSeparatedOrder ? values.orderX : values.order
    const currentOrderY = values.kernelMatrix.length
    const currentOrderX = values.kernelMatrix[0].length

    if (orderY > currentOrderY) {
        tools.values.kernelMatrix.push(
            ...Array(orderY - currentOrderY)
            .fill(Array(currentOrderX).fill(0))
        )
    }

    if (orderY < currentOrderY) {
        tools.values.kernelMatrix.splice(orderY - (currentOrderY - orderY) + 1, currentOrderY - orderY)
    }

    if (orderX > currentOrderX) {
        tools.values.kernelMatrix.forEach(line => {
            line.push(...Array(orderX - currentOrderX).fill(0))
        })
    }

    if (orderX < currentOrderX) {
        tools.values.kernelMatrix.forEach(line =>
            line.splice(orderX - (currentOrderX - orderX) + 1, currentOrderX - orderX)
        )
    }
})

</script>
        