<template>
<filter-node v-slot="tools">

<node-form-section>
    <node-form-label>
        type:
        <node-form-select 
            :options="['matrix', 'saturate', 'hueRotate', 'luminanceToAlpha']"
            v-model="tools.values.type"
        ></node-form-select>
    </node-form-label>
</node-form-section>

<node-form-section v-if="tools.values.type === 'matrix'">
    <node-form-label>
        matrix:
        <node-form-matrix
            v-model="tools.values.matrix"
        ></node-form-matrix>
    </node-form-label>
</node-form-section>

<node-form-section v-if="tools.values.type === 'saturate'">
    <node-form-label>
        saturate:
        <node-form-range
            :min="0"
            :max="1"
            :step="0.001"
            v-model="tools.values.saturate"
        ></node-form-range>
    </node-form-label>
</node-form-section>

<node-form-section v-if="tools.values.type === 'hueRotate'">
    <node-form-label>
        rotate:
        <node-form-range
            :min="0"
            :max="360"
            :step="1"
            v-model="tools.values.rotate"
        ></node-form-range>
    </node-form-label>
</node-form-section>

</filter-node>
</template>

<script setup>
import FilterNode from '@/components/FilterNode'
import NodeFormSection from '@/components/NodeForm/NodeFormSection.vue'
import NodeFormLabel from '@/components/NodeForm/NodeFormLabel.vue'
import NodeFormSelect from '@/components/NodeForm/NodeFormSelect.vue'
import NodeFormMatrix from '@/components/NodeForm/NodeFormMatrix.vue'
import NodeFormRange from '@/components/NodeForm/NodeFormRange.vue'
</script>
