<template>
<filter-node v-slot="tools">

<node-form-section>
    <node-form-label>
        operator:
        <node-form-select 
            :options="['over', 'in', 'out', 'atop', 'xor', 'lighter', 'arithmetic']"
            v-model="tools.values.operator"
        ></node-form-select>
    </node-form-label>
</node-form-section>

<template v-if="tools.values.operator === 'arithmetic'">
    <node-form-section 
        v-for="i in 4"
        :key="i"
    >
        <node-form-label>
            k{{ i }}:
            <node-form-range
                v-model="tools.values[`k${i}`]"
                :min="0"
                :max="1"
                :step="1e-2"
            ></node-form-range>
        </node-form-label>
    </node-form-section>
</template>
    
</filter-node>
</template>

<script setup>
import FilterNode from '@/components/FilterNode'
import NodeFormSection from '@/components/NodeForm/NodeFormSection.vue'
import NodeFormLabel from '@/components/NodeForm/NodeFormLabel.vue'
import NodeFormSelect from '@/components/NodeForm/NodeFormSelect.vue'
import NodeFormRange from '@/components/NodeForm/NodeFormRange.vue'
</script>
    