<template>
<filter-node v-slot="tools" :output-type="connectionConst.vertexTypes.transferChannel">
    <node-form-section>
        <node-form-label>
            type:
            <node-form-select
                :options="['identity', 'table', 'discrete', 'linear', 'gamma']"
                v-model="tools.values.type"
            ></node-form-select>
        </node-form-label>
    </node-form-section>

    <node-form-section v-if="tools.values.type === 'table'">
        <node-form-label>
            table:
            <node-form-component-transfer-table
                v-model="tools.values.table"
            ></node-form-component-transfer-table>
        </node-form-label>
    </node-form-section>

    <node-form-section v-if="tools.values.type === 'discrete'">
        <node-form-label>
            discrete:
            <node-form-component-transfer-table
                v-model="tools.values.discrete"
            ></node-form-component-transfer-table>
        </node-form-label>
    </node-form-section>

    <node-form-section v-if="tools.values.type === 'gamma'">
        <node-form-label>
            amplitude:
            <node-form-range
                v-model="tools.values.amplitude"
                :min="0"
                :max="1"
                :step="1e-2"
            ></node-form-range>
        </node-form-label>
    </node-form-section>
    <node-form-section v-if="tools.values.type === 'gamma'">
        <node-form-label>
            exponent:
            <node-form-range
                v-model="tools.values.exponent"
                :min="0"
                :max="1"
                :step="1e-2"
            ></node-form-range>
        </node-form-label>
    </node-form-section>
    <node-form-section v-if="tools.values.type === 'gamma'">
        <node-form-label>
            offset:
            <node-form-range
                v-model="tools.values.offset"
                :min="0"
                :max="1"
                :step="1e-2"
            ></node-form-range>
        </node-form-label>
    </node-form-section>

    <node-form-section v-if="tools.values.type === 'linear'">
        <node-form-label>
            slope:
            <node-form-range
                v-model="tools.values.slope"
                :min="0"
                :max="1"
                :step="1e-2"
            ></node-form-range>
        </node-form-label>
    </node-form-section>
    <node-form-section v-if="tools.values.type === 'linear'">
        <node-form-label>
            intercept:
            <node-form-range
                v-model="tools.values.intercept"
                :min="0"
                :max="1"
                :step="1e-2"
            ></node-form-range>
        </node-form-label>
    </node-form-section>
</filter-node>
</template>

<script setup>
import connectionConst from '@/utl/connectionConst'
import FilterNode from '@/components/FilterNode.vue'
import NodeFormSection from '@/components/NodeForm/NodeFormSection.vue'
import NodeFormLabel from '@/components/NodeForm/NodeFormLabel.vue'
import NodeFormSelect from '@/components/NodeForm/NodeFormSelect.vue'
import NodeFormComponentTransferTable from '@/components/NodeForm/NodeFormComponentTransferTable.vue'
import NodeFormRange from '@/components/NodeForm/NodeFormRange.vue'
</script>
