<template>
    <filter-node>
        <node-form-section name="red" input :type="connectionConst.vertexTypes.transferChannel">
            <node-form-label>Red Channel</node-form-label>
        </node-form-section>

        <node-form-section name="green" input :type="connectionConst.vertexTypes.transferChannel">
            <node-form-label>Green Channel</node-form-label>
        </node-form-section>

        <node-form-section name="blue" input :type="connectionConst.vertexTypes.transferChannel">
            <node-form-label>Blue Channel</node-form-label>
        </node-form-section>

        <node-form-section name="alpha" input :type="connectionConst.vertexTypes.transferChannel">
            <node-form-label>Alpha Channel</node-form-label>
        </node-form-section>
    </filter-node>
</template>

<script setup>
import connectionConst from '@/utl/connectionConst'
import FilterNode from '@/components/FilterNode'
import NodeFormSection from '@/components/NodeForm/NodeFormSection.vue'
import NodeFormLabel from '@/components/NodeForm/NodeFormLabel.vue'
</script>
