<template>
<filter-node v-slot="tools">

<node-form-section>
    <node-form-label>
        scale:
        <node-form-range
            v-model="tools.values.scale"
            :min="0"
            :max="4"
            :step=".5"
        ></node-form-range>
    </node-form-label>
</node-form-section>
    
<node-form-section>
    <node-form-label>
        x channel:
        <node-form-radio
            v-model="tools.values.xChannelSelector"
            :options="['R', 'G', 'B', 'A']"
        ></node-form-radio>
    </node-form-label>
</node-form-section>

<node-form-section>
    <node-form-label>
        y channel:
        <node-form-radio
            v-model="tools.values.yChannelSelector"
            :options="['R', 'G', 'B', 'A']"
        ></node-form-radio>
    </node-form-label>
</node-form-section>
    
</filter-node>
</template>

<script setup>
import FilterNode from '@/components/FilterNode'
import NodeFormSection from '@/components/NodeForm/NodeFormSection.vue'
import NodeFormLabel from '@/components/NodeForm/NodeFormLabel.vue'
import NodeFormRange from '@/components/NodeForm/NodeFormRange.vue'
import NodeFormRadio from '@/components/NodeForm/NodeFormRadio.vue'
</script>
    