<template>
<filter-node v-slot="tools" :output-type="connectionConst.vertexTypes.lightSource">

<node-form-section>
    <node-form-label>
        azimuth:
        <node-form-range
            v-model="tools.values.azimuth"
            :min="0"
            :max="360"
            :step="1"
        ></node-form-range>
    </node-form-label>
</node-form-section>

<node-form-section>
    <node-form-label>
        elevation:
        <node-form-range
            v-model="tools.values.elevation"
            :min="0"
            :max="360"
            :step="1"
        ></node-form-range>
    </node-form-label>
</node-form-section>
    
</filter-node>
</template>

<script setup>
import FilterNode from '@/components/FilterNode'
import NodeFormSection from '@/components/NodeForm/NodeFormSection.vue'
import NodeFormLabel from '@/components/NodeForm/NodeFormLabel.vue'
import NodeFormRange from '@/components/NodeForm/NodeFormRange.vue'
import connectionConst from '@/utl/connectionConst'
</script>
    