<template>
<filter-node v-slot="tools">

    <node-form-section>
        <node-form-label>
            color:
            <node-form-color
                v-model="tools.values.floodColor"
            ></node-form-color>
        </node-form-label>
    </node-form-section>

    <node-form-section>
        <node-form-label>
            opacity:
            <node-form-range
                v-model="tools.values.floodOpacity"
                :min="0"
                :max="1"
                :step="1e-2"
            ></node-form-range>
        </node-form-label>
    </node-form-section>

</filter-node>
</template>

<script setup>
import FilterNode from '@/components/FilterNode.vue'
import NodeFormSection from '@/components/NodeForm/NodeFormSection.vue'
import NodeFormLabel from '@/components/NodeForm/NodeFormLabel.vue'
import NodeFormColor from '@/components/NodeForm/NodeFormColor.vue'
import NodeFormRange from '@/components/NodeForm/NodeFormRange.vue'
</script>
