<template>
<filter-node v-slot="tools">

    <node-form-section>
        <node-form-label>
            std:
            <node-form-range
                v-model="tools.values.stdDeviation"
                :min="0"
                :max="10"
                :step="1"
            ></node-form-range>
        </node-form-label>
    </node-form-section>

    <node-form-section>
        <node-form-label>
            edge mode:
            <node-form-select
                :options="['none', 'duplicate', 'wrap']"
                v-model="tools.values.edgeMode"
            ></node-form-select>
        </node-form-label>
    </node-form-section>

</filter-node>
</template>

<script setup>
import FilterNode from '@/components/FilterNode.vue'
import NodeFormSection from '@/components/NodeForm/NodeFormSection.vue'
import NodeFormLabel from '@/components/NodeForm/NodeFormLabel.vue'
import NodeFormRange from '@/components/NodeForm/NodeFormRange.vue'
import NodeFormSelect from '@/components/NodeForm/NodeFormSelect.vue'
</script>
