<template>
<filter-node @tools="handleTools">

<node-form-section>
    <node-form-label>
        image:
    </node-form-label>
    <node-form-button
        v-if="useBase64 && base64Href && base64Href !== ''"
        @click="base64Href = ''"
    >{{ $t('IDE.nodes.feImage.reset') }}</node-form-button>
</node-form-section>

<node-form-section v-if="!useBase64 || base64Href && base64Href !== ''">
    <node-form-image-display
        :src="useBase64 ? base64Href : href"
    ></node-form-image-display>
</node-form-section>

<node-form-section v-if="useBase64 && base64Href === ''">
    <node-form-image-input
        v-model="base64Href"
    ></node-form-image-input>
</node-form-section>

<node-form-section v-if="!useBase64">
    <node-form-label>
        href:
        <node-form-text
            v-model="href"
        ></node-form-text>
    </node-form-label>
</node-form-section>

<node-form-section>
    <node-form-label>
        use base64:
        <node-form-switch
            v-model="useBase64"
        ></node-form-switch>
    </node-form-label>
</node-form-section>

<node-form-advanced-options>
    <node-form-section>
        <node-form-label>
            ratio:
            <node-form-select
                v-model="align"
                :options="['none', 'xMinYMin', 'xMidYMin', 'xMaxYMin', 'xMinYMid', 'xMidYMid', 'xMaxYMid', 'xMinYMax', 'xMidYMax', 'xMaxYMax']"
            ></node-form-select>
            <node-form-select
                v-model="meetOrSlice"
                :options="['meet', 'slice']"
            ></node-form-select>
        </node-form-label>
    </node-form-section>

    <node-form-section>
        <node-form-label>
            crossorigin:
            <node-form-select
                v-model="tools.values.crossorigin"
                :options="['anonymous', 'use-credentials']"
            ></node-form-select>
        </node-form-label>
    </node-form-section>
</node-form-advanced-options>

</filter-node>
</template>

<script setup>
import { ref, toValue, watch, watchEffect } from 'vue'
import { useNodeTools } from '@/composables/nodeTools'
import FilterNode from '@/components/FilterNode.vue'
import NodeFormSection from '@/components/NodeForm/NodeFormSection.vue'
import NodeFormLabel from '@/components/NodeForm/NodeFormLabel.vue'
import NodeFormAdvancedOptions from '@/components/NodeForm/NodeFormAdvancedOptions.vue'
import NodeFormSwitch from '@/components/NodeForm/NodeFormSwitch.vue'
import NodeFormSelect from '@/components/NodeForm/NodeFormSelect.vue'
import NodeFormText from '@/components/NodeForm/NodeFormText.vue'
import NodeFormImageInput from '@/components/NodeForm/NodeFormImageInput.vue'
import NodeFormImageDisplay from '@/components/NodeForm/NodeFormImageDisplay.vue'
import NodeFormButton from '@/components/NodeForm/NodeFormButton.vue'

const { tools, handleTools } = useNodeTools()

const align = ref('xMidYMid')
const meetOrSlice = ref('meet')
const useBase64 = ref(true)
const base64Href = ref('')
const href = ref('http://example.com')
const savedDataFetched = ref(false)

watch([
    () => tools.values.href, 
    () => tools.values.preserveAspectRatio,
], () => {
    if (!savedDataFetched.value) {
        const savedHref = toValue(tools.values.href)
        const savedPreserveAspectRatio = toValue(tools.values.preserveAspectRatio).split(' ')

        if (savedHref.includes('data:image')) {
            base64Href.value = savedHref
        } else if (savedHref !== '') {
            useBase64.value = false
            href.value = savedHref
        }

        if (savedPreserveAspectRatio[0] !== '' && savedPreserveAspectRatio[1] !== '') {
            align.value = savedPreserveAspectRatio[0]
            meetOrSlice.value = savedPreserveAspectRatio[1]
        }

        savedDataFetched.value = true
    }
})

watchEffect(() => {
    if (savedDataFetched.value) {
        tools.values.href = useBase64.value ? base64Href.value : href.value
    }
})

watchEffect(() => {
    if (savedDataFetched.value) {
        tools.values.preserveAspectRatio = `${align.value} ${meetOrSlice.value}`
    }
})

</script>
