<template>
<filter-node v-slot="tools">
    <node-form-dynamic-vertex
        v-model="tools.values.layers"
        :type="connectionConst.vertexTypes.filterEffect"
    >Layers: </node-form-dynamic-vertex>
</filter-node>
</template>

<script setup>
import connectionConst from '@/utl/connectionConst';
import FilterNode from '@/components/FilterNode.vue'
import NodeFormDynamicVertex from '@/components/NodeForm/NodeFormDynamicVertex.vue'
</script>
