<template>
<filter-node v-slot="tools">

<node-form-section>
    <node-form-label>
        operator:
        <node-form-select
            v-model="tools.values.operator"
            :options="['erode', 'dilate']"
        ></node-form-select>
    </node-form-label>
</node-form-section>

<node-form-section v-if="!tools.values.useSeparatedRadius">
    <node-form-label>
        radius:
        <node-form-range
            v-model="tools.values.radius"
        ></node-form-range>
    </node-form-label>
</node-form-section>

<node-form-section v-else>
    <node-form-label>
        Rx/Ry:
        <node-form-range
            v-model="tools.values.radiusX"
        ></node-form-range>
        <node-form-range
            v-model="tools.values.radiusY"
        ></node-form-range>
    </node-form-label>
</node-form-section>

<node-form-advanced-options>
    <node-form-section>
        <node-form-label>
            separated radius:
            <node-form-switch
                v-model="tools.values.useSeparatedRadius"
            ></node-form-switch>
        </node-form-label>
    </node-form-section>
</node-form-advanced-options>

</filter-node>
</template>

<script setup>
import FilterNode from '@/components/FilterNode.vue'
import NodeFormSection from '@/components/NodeForm/NodeFormSection.vue'
import NodeFormLabel from '@/components/NodeForm/NodeFormLabel.vue'
import NodeFormSelect from '@/components/NodeForm/NodeFormSelect.vue'
import NodeFormRange from '@/components/NodeForm/NodeFormRange.vue'
import NodeFormAdvancedOptions from '@/components/NodeForm/NodeFormAdvancedOptions.vue'
import NodeFormSwitch from '@/components/NodeForm/NodeFormSwitch.vue'
</script>
