<template>
<filter-node v-slot="tools">

<node-form-section>
    <node-form-label>
        dx:
        <node-form-range
            v-model="tools.values.dx"
            :min="-100"
            :max="100"
            :step="1"
        ></node-form-range>
    </node-form-label>
</node-form-section>

<node-form-section>
    <node-form-label>
        dy:
        <node-form-range
            v-model="tools.values.dy"
            :min="-100"
            :max="100"
            :step="1"
        ></node-form-range>
    </node-form-label>
</node-form-section>

</filter-node>
</template>

<script setup>
import FilterNode from '@/components/FilterNode.vue'
import NodeFormSection from '@/components/NodeForm/NodeFormSection.vue'
import NodeFormLabel from '@/components/NodeForm/NodeFormLabel.vue'
import NodeFormRange from '@/components/NodeForm/NodeFormRange.vue'
</script>
