<template>
<filter-node v-slot="tools" :output-type="connectionConst.vertexTypes.lightSource">

<node-form-section>
    <node-form-label>
        point:
        <node-form-text v-model="tools.values.x"></node-form-text>
        <node-form-text v-model="tools.values.y"></node-form-text>
        <node-form-text v-model="tools.values.z"></node-form-text>
    </node-form-label>
</node-form-section>
    
</filter-node>
</template>

<script setup>
import FilterNode from '@/components/FilterNode'
import NodeFormSection from '@/components/NodeForm/NodeFormSection.vue'
import NodeFormLabel from '@/components/NodeForm/NodeFormLabel.vue'
import NodeFormText from '@/components/NodeForm/NodeFormText.vue'
import connectionConst from '@/utl/connectionConst'
</script>
        