<template>
<filter-node v-slot="tools" :output-type="connectionConst.vertexTypes.lightSource">

<node-form-section>
    <node-form-label>
        from:
        <node-form-text v-model="tools.values.x"></node-form-text>
        <node-form-text v-model="tools.values.y"></node-form-text>
        <node-form-text v-model="tools.values.z"></node-form-text>
    </node-form-label>
</node-form-section>

<node-form-section>
    <node-form-label>
        to:
        <node-form-text v-model="tools.values.pointAtX"></node-form-text>
        <node-form-text v-model="tools.values.pointAtY"></node-form-text>
        <node-form-text v-model="tools.values.pointAtZ"></node-form-text>
    </node-form-label>
</node-form-section>

<node-form-section>
    <node-form-label>
        specular exp:
        <node-form-range
            v-model="tools.values.specularExponent"
            :min="1"
            :max="10"
            :step="1"
        ></node-form-range>
    </node-form-label>
</node-form-section>

<node-form-section>
    <node-form-label>
        cone angle:
        <node-form-range
            v-model="tools.values.limitingConeAngle"
            :min="0"
            :max="360"
            :step="1"
        ></node-form-range>
    </node-form-label>
</node-form-section>
    
</filter-node>
</template>

<script setup>
import FilterNode from '@/components/FilterNode'
import NodeFormSection from '@/components/NodeForm/NodeFormSection.vue'
import NodeFormLabel from '@/components/NodeForm/NodeFormLabel.vue'
import NodeFormText from '@/components/NodeForm/NodeFormText.vue'
import NodeFormRange from '@/components/NodeForm/NodeFormRange.vue'
import connectionConst from '@/utl/connectionConst'
</script>
            