<template>
<filter-node v-slot="tools">

    <node-form-section>
        <node-form-label>
            surface scale:
            <node-form-range
                v-model="tools.values.surfaceScale"
                :min="0"
                :max="2"
                :step="1e-1"
            ></node-form-range>
        </node-form-label>
    </node-form-section>

    <node-form-section>
        <node-form-label>
            specular const:
            <node-form-range
                v-model="tools.values.specularConstant"
                :min="0"
                :max="2"
                :step="1e-1"
            ></node-form-range>
        </node-form-label>
    </node-form-section>

    <node-form-section>
        <node-form-label>
            specular exp:
            <node-form-range
                v-model="tools.values.specularExponent"
                :min="1"
                :max="128"
                :step="1"
            ></node-form-range>
        </node-form-label>
    </node-form-section>

    <node-form-section name="source" input :type="connectionConst.vertexTypes.lightSource">
        <node-form-label>Source</node-form-label>
    </node-form-section>

    <node-form-advanced-options>

        <node-form-section>
            <node-form-label>
                separated kernel unit:
                <node-form-switch
                    v-model="tools.values.useSeparetedKernelUnitLength"
                ></node-form-switch>
            </node-form-label>
        </node-form-section>

        <node-form-section v-if="tools.values.useSeparetedKernelUnitLength">
            <node-form-label>
                x/y:
                <node-form-range
                    v-model="tools.values.kernelUnitLengthX"
                    :min="0"
                    :max="2"
                    :step="1e-1"
                ></node-form-range>
                <node-form-range
                    v-model="tools.values.kernelUnitLengthY"
                    :min="0"
                    :max="2"
                    :step="1e-1"
                ></node-form-range>
            </node-form-label>
        </node-form-section>

        <node-form-section v-else>
            <node-form-label>
                length:
                <node-form-range
                    v-model="tools.values.kernelUnitLength"
                    :min="0"
                    :max="2"
                    :step="1e-1"
                ></node-form-range>
            </node-form-label>
        </node-form-section>

    </node-form-advanced-options>

</filter-node>
</template>

<script setup>
import connectionConst from '@/utl/connectionConst'
import FilterNode from '@/components/FilterNode'
import NodeFormSection from '@/components/NodeForm/NodeFormSection.vue'
import NodeFormLabel from '@/components/NodeForm/NodeFormLabel.vue'
import NodeFormRange from '@/components/NodeForm/NodeFormRange.vue'
import NodeFormSwitch from '@/components/NodeForm/NodeFormSwitch.vue'
import NodeFormAdvancedOptions from '@/components/NodeForm/NodeFormAdvancedOptions.vue'
</script>
    