<template>
<filter-node @tools="handleTools">

<node-form-section>
    <node-form-image-display
        :src="'data:image/svg+xml;base64,' + demoBase64"
    ></node-form-image-display>
</node-form-section>

<node-form-section v-if="tools.values.useSeparatedBaseFrequency">
    <node-form-label>
        x/y:
        <node-form-range
            v-model="tools.values.baseFrequencyX"
            :min="0"
            :max="1"
            :step="0.01"
        ></node-form-range>
        <node-form-range
            v-model="tools.values.baseFrequencyY"
            :min="0"
            :max="1"
            :step="0.05"
        ></node-form-range>
    </node-form-label>
</node-form-section>

<node-form-section v-else>
    <node-form-label>
        frequency:
        <node-form-range
            v-model="tools.values.baseFrequency"
            :min="0"
            :max="1"
            :step="0.01"
        ></node-form-range>
    </node-form-label>
</node-form-section>

<node-form-section>
    <node-form-label>
        seed:
        <node-form-range
            v-model="tools.values.seed"
            :min="0"
            :max="1024"
            :step="1"
        ></node-form-range>
    </node-form-label>
</node-form-section>

<node-form-advanced-options>

    <node-form-section>
        <node-form-label>
            use separated frequency:
            <node-form-switch
                v-model="tools.values.useSeparatedBaseFrequency"
            ></node-form-switch>
        </node-form-label>
    </node-form-section>

    <node-form-section>
        <node-form-label>
            stitch tiles:
            <node-form-switch
                v-model="tools.values.stitchTiles"
            ></node-form-switch>
        </node-form-label>
    </node-form-section>

    <node-form-section>
        <node-form-label>
            num octaves:
            <node-form-range
                v-model="tools.values.numOctaves"
                :min="1"
                :max="5"
                :step="1"
            ></node-form-range>
        </node-form-label>
    </node-form-section>

    <node-form-section>
        <node-form-label>
            type:
            <node-form-select
                v-model="tools.values.type"
                :options="['turbulence', 'fractalNoise']"
            ></node-form-select>
        </node-form-label>
    </node-form-section>

</node-form-advanced-options>

</filter-node>
</template>

<script setup>
import { computed } from 'vue'
import { useNodeTools } from '@/composables/nodeTools'
import { getFilter, filterToString, create } from '@/utl/render'
import FilterNode from '@/components/FilterNode.vue'
import NodeFormSection from '@/components/NodeForm/NodeFormSection.vue'
import NodeFormLabel from '@/components/NodeForm/NodeFormLabel.vue'
import NodeFormRange from '@/components/NodeForm/NodeFormRange.vue'
import NodeFormAdvancedOptions from '@/components/NodeForm/NodeFormAdvancedOptions.vue'
import NodeFormSwitch from '@/components/NodeForm/NodeFormSwitch.vue'
import NodeFormSelect from '@/components/NodeForm/NodeFormSelect.vue'
import NodeFormImageDisplay from '@/components/NodeForm/NodeFormImageDisplay.vue'

const { tools, handleTools } = useNodeTools()

const demoBase64 = computed(() => {
    if (!tools.context.node) return ''

    const rectOptions = {x: 0, y: 0, width: 322, height: 200}
    const rooted = new Proxy(tools.context.node, {
        get(target, prop) {
            if (prop !== 'root') return Reflect.get(target, prop)
            return true
        }
    })
    
    const svg = create('svg', 
            {
                'view-box': '0 0 322 200',
                width: '100%',
                height: '100%',
                xmlns: 'http://www.w3.org/2000/svg'
            }, 
            [
                getFilter(
                    [rooted],
                    [],
                    {id: 'noise1'}
                ),
                create('rect', {...rectOptions, fill: 'white'}),
                create('rect', {...rectOptions, style: 'filter: url(#noise1)'}),
            ]
        )

    return btoa(filterToString(svg))
})

</script>
