<template>
<div 
    class="switch" 
    :class="{toggled: value}" 
    @click="value = !value"
>
    <span class="switch-thumb"></span>
</div>
</template>

<script setup>
import { defineProps, defineEmits, computed } from 'vue';

const props = defineProps({
    modelValue: Boolean,
})

const emit = defineEmits(['update:modelValue'])

const value = computed({
    get() {
    return props.modelValue
    },
    set(value) {
    emit('update:modelValue', value)
    }
})
</script>

<style lang="less" scoped>
@import '@/styles/bundle.less';

@height: .8rem;

.switch {
    height: @height;
    width: @height * 2;
    background: @foreground-1;
    border-radius: @height * 0.2;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: @height * 0.1;
    cursor: pointer;

    &.toggled .switch-thumb {
        background: @accent-1;
        transform: translateX(100%);
    }

    .switch-thumb {
        height: @height;
        width: @height;
        background: @background-4;
        border-radius: @height * 0.15;
        transition: .3s;
    }

}
</style>
    