<template>
    <fieldset class="radio">
        <label
            v-for="option in options"
            :key="option"
            class="radio-label"
        >
            <input 
                type="radio"
                @change="$emit('update:modelValue', option)"
                :checked="option === modelValue"
            />
            {{  texts[option] || option }}
        </label>
    </fieldset>
</template>

<script setup>
import { defineProps, defineEmits } from 'vue';

defineProps({
    options: {
      type: Array,
      default: () => []
    },
    texts: {
        type: Object,
        default: () => {return {}},
    },
    modelValue: String,
})

defineEmits(['update:modelValue'])
</script>

<style lang="less" scoped>
@import '@/styles/bundle.less';

.radio {
    border: none;
    width: 40%;
    .form-rounded();
    background: @background-4;
    display: flex;
    overflow: hidden;

    .radio-label {
        flex: 1;
        text-align: center;
        border-right: 2px solid @background-3;
        transition: .3s;
        cursor: pointer;
        padding: .5em 1em;
        box-sizing: border-box;

        input {
            display: none;
        }

        &:has(input:checked) {
            background: @accent-1;
        }

        &:last-child {
            border: none;
        }

    }

}
</style>
