<template>
    <label><slot></slot></label>
</template>

<style lang="less" scoped>
@import '@/styles/bundle.less';

label {
    flex: 1;
    display: flex;
    gap: .3em;
    width: 100%;
    align-items: center;
}
</style>
