<template>
<button 
    class="form-button"
    :class="{dark, light, success, failure, accent, weak, disabled}"
    :disabled="disabled"
>
    <slot></slot>
</button>
</template>

<script setup>
import {defineProps} from 'vue'

defineProps({
    dark: Boolean,
    light: Boolean,
    success: Boolean,
    failure: Boolean,
    accent: Boolean,
    weak: Boolean,
    disabled: Boolean,
})
</script>

<style lang="less" scoped>
@import '@/styles/bundle.less';

.form-button {
    outline: none;
    border: 1px solid;
    padding: .5em 1em;
    font-size: 1em;
    cursor: pointer;
    color: @background-1;
    transition: .1s;
    .form-rounded();
    color: background-4;

    &:hover {
        transform: translateY(-5%);
    }

    &.dark {
        background: @background-4;
        border-color: @background-4;
        color: @foreground-1;
    }

    &.light {
        background: @foreground-1;
        background-color: @foreground-1;

        &.weak {
            color: @foreground-1;
        }

    }

    &.success {
        background: @success-1;
        border-color: @success-1;

        &.weak {
            color: @success-1;
        }

    }

    &.failure {
        background: @failure-1;
        border-color: @failure-1;

        &.weak {
            color: @failure-1;
        }

    }

    &.accent {
        background: @accent-1;
        border-color: @accent-1;

        &.weak {
            color: @accent-1;
        }

    }

    &.weak {
        background: unset;
    }

    &.disabled {
        opacity: .5;
        cursor: not-allowed;
    }

}
</style>
