<template>
    <div 
      v-if="!textEdit"
      class="node-form-range-input" 
      ref="range"
      :style="style"
      @mousedown="grabbed = true; moved = false"
      @mouseout="grabbed = false"
      @mouseup="mouseUp"
      @mousemove="mouseMove"
    >
        {{ value }}
    </div>
    <input
      v-else
      class="node-form-range-input-text"
      type="text"
      ref="text"
      :style="style"
      v-model.lazy.number="value"
      @blur="textEdit = false"
      @change="textEdit = false"
    >
</template>

<script setup>
import { defineProps, defineEmits, computed, ref, nextTick } from 'vue'

const props = defineProps({
    modelValue: Number,
    min: {
        type: Number,
        default: 0,
    },
    max: {
        type: Number,
        default: 10,
    },
    step: {
        type: Number,
        default: 1,
    },
    strict: Boolean,
    style: Object,
    mouseCorrector: {
        type: Function,
        default: (obj) => obj
    }
})

const emit = defineEmits(['update:modelValue'])

const value = computed({
  get() {
    return props.modelValue
  },
  set(value) {
    if (props.strict && (value > props.max || value < props.min)) return
    emit('update:modelValue', value)
  }
})

const range = ref(null)
const text = ref(null)
const grabbed = ref(false)
const moved = ref(false)
const textEdit = ref(false)

function mouseMove({ clientX }) {
  if (!grabbed.value) return
  moved.value = true
  const {x, width} = range.value.getBoundingClientRect()
  value.value = progressToVal((props.mouseCorrector({x: clientX}).x - x) / width)
}

async function mouseUp() {
  grabbed.value = false
  if (!moved.value) {
    textEdit.value = true
    await nextTick()
    text.value.focus()
  }
}

function progressToVal(progress) {
  const val = props.min + (props.max - props.min) * progress
  const rounded = Math.round(val / props.step) * props.step
  if (rounded > props.max) return props.max
  if (rounded < props.min) return props.min
  return rounded
}

const progressPercentage = computed(() => (props.modelValue - props.min) / (props.max - props.min) * 100 + '%')
</script>

<style lang="less" scoped>
@import '@/styles/bundle.less';

.node-form-range-input {
    width: 40%;
    .form-rounded();
    background: @foreground-1;
    color: @background-1;
    cursor: pointer;
    background: linear-gradient(90deg, @accent-1 0%, @accent-1 v-bind('progressPercentage'), @foreground-1 v-bind('progressPercentage'), @foreground-1 100%);
    padding: 0 .3rem;
    overflow: hidden;
}

.node-form-range-input-text {
  width: 40%;
  outline: none;
  border: none;
  .form-rounded();
  color: @background-1;
  padding: 0 .3rem;
}

</style>
