<template>
    <input  class="form-input" :type="type" v-model="value"/>
</template>

<script setup>
import { defineProps, defineEmits, computed } from 'vue';

const props = defineProps({
    modelValue: [String, Number],
})

const emit = defineEmits(['update:modelValue'])

const value = computed({
  get() {
    return props.modelValue
  },
  set(value) {
    emit('update:modelValue', value)
  }
})

const type = computed(() => typeof props.modelValue === 'number' ? 'number' : 'text')
</script>

<style lang="less" scoped>
@import '@/styles/bundle.less';

.form-input {
    outline: none;
    width: 100%;
    background: @background-4;
    color: @foreground-1;
    font-size: 1.5em;
    .form-rounded();
    border: none;
    border-bottom: 1px solid @accent;
    padding: .5rem 1rem;
}
</style>
