<template>
<form class="project-settings" action="javascript:void(0)">
    <h2>
        {{ $t('editProject.title') }}: 
        <span class="accent">
            {{ projectStore.project.name }}
        </span>
    </h2>

    <fieldset>
        <form-input v-model="newName"></form-input>
        <form-button 
            @click="renameProject"
            accent
            :disabled="!newNameValid"
        >{{ $t('editProject.rename') }}</form-button>
    </fieldset>

    <fieldset>
        <form-button
            @click="submitAndGoHome('clone', projectStore.clone)"
            accent
        >{{ $t('editProject.clone') }}</form-button>
        <form-button 
            @click="submitAndGoHome('delete', projectStore.remove)"
            failure
            weak
        >{{ $t('editProject.delete') }}</form-button>
    </fieldset>

</form>
</template>

<script setup>
import { ref, watch, onMounted, onUnmounted } from 'vue'
import { useRouter } from 'vue-router'
import { useI18n } from 'vue-i18n'
import { useProjectLoader } from '@/composables/projectLoader'
import useProjectStore from '@/stores/projectStore'
import useNavStore from '@/stores/navStore'
import useDialogStore from '@/stores/dialogStore'
import FormInput from '@/components/Form/FormInput.vue'
import FormButton from '@/components/Form/FormButton.vue'
import ConfirmDialog from '@/components/Dialog/ConfirmDialog.vue'

const { t } = useI18n()

const router = useRouter()
const projectStore = useProjectStore()
const navStore = useNavStore()
const dialogStore = useDialogStore()

const newName = ref('')
const newNameValid = ref(false)

useProjectLoader(true).then(() => {
    newName.value = projectStore.project.name
})

async function validateName() {
    const storedProjects = await projectStore.getProjects()
    newNameValid.value = !storedProjects.map(({name}) => name).includes(newName.value)
}
watch(newName, validateName)

function renameProject() {
    projectStore.rename(newName.value).then(() => {
        navStore.heading = newName.value
        validateName()
    })
}

function submitAndGoHome(actionName, action) {
    dialogStore.callDialog(ConfirmDialog, {
        message: t(`editProject.projectDialog`, {
            project: projectStore.project.name,
            action: t(`editProject.${actionName}`).replace(/^./, c => c.toUpperCase())
        })
    })
    .then((ok) => {
        if (ok) {
            action()
            .then(() => router.push({name: 'Home'}))
        }
    })
}

onMounted(() => {
    navStore.addButton('go-to-ide', 'circle-nodes', () => {
        router.push({name: 'IDE'})
    })
})
onUnmounted(() => {
    navStore.deleteButton('go-to-ide')
})
</script>

<style lang="less" scoped>
@import '@/styles/bundle.less';

.project-settings {
    width: 40%;
    height: 100px;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    fieldset {
        border: none;
        display: flex;
        width: 100%;
        gap: 1rem;
    }

    h2 {
        width: 100%;
        text-align: center;
    }

    span.accent {
        color: @accent-1;
    }

}
</style>
