<template>
    <section class="not-found">
        <!-- @vue-ignore -->
        <img :src="$route.meta.img">
        <h1>{{ $t(`${$route.meta.text}`) }}</h1>
        <router-link to="/">Home</router-link>
    </section>
</template>

<style lang="less" scoped>
@import '@/styles/bundle.less';

.not-found {
    width: 50vw;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10rem;
    font-size: 2rem;

    h1 {
        font-size: 3rem;
    }

}
</style>
