<template>
    <section class="faq">
        <nav class="navigation">
            <section
                v-for="{topic, sections} in tableOfContents"
                :key="topic"
                class="topic" 
                :data-title="$t(`faq.${topic}.title`)"
            >
                <ul>
                    <li
                        v-for="section in sections"
                        :key="section"
                        :class="{
                            active: topic === activeTopic && '#' + section === activeSection
                        }"
                        @click="navigateToSection(topic, section)"
                    >
                        {{ $t(`faq.${topic}.sections.${section}.title`) }}
                    </li>
                </ul>
            </section>
        </nav>
        <article class="content" ref="content" @scroll="handleContentScroll">
            <component
                v-if="activeTopicComponent"
                :is="activeTopicComponent"
            ></component>
        </article>
    </section>
</template>

<script setup>
import { reactive, onMounted, computed, markRaw, ref, nextTick, watch } from 'vue'
import { useFAQTools } from '@/composables/faqTools'
import enLocale from '@/locale/messages/en.js'

import FilterElements from '@/views/FAQ/FilterElements.vue'
import IDEBasics from '@/views/FAQ/IDEBasics.vue'

const content = ref(null)

function generateTopic(topic, component) {
    return {
        topic,
        component: markRaw(component),
        sections: Object.keys(enLocale.faq[topic]?.sections || {})
    }
}

const tableOfContents = reactive([
    generateTopic('basics', markRaw(IDEBasics)),
    generateTopic('filterElements', markRaw(FilterElements)),
])

const { activeSection, activeTopic } = useFAQTools()

const activeTopicComponent = computed(() => 
    tableOfContents
    .find(({topic}) => topic === activeTopic.value)
    ?.component
)

async function navigateToSection(topic, section) {
    if (topic) activeTopic.value = topic
    if (section) activeSection.value = section

    await nextTick()
    scrollToSection(section)
}

function scrollToSection(section) {
    if (section === getInViewSection()) return

    const target = content.value.querySelector(`[data-section="${section}"]`)
    if (target) {
        target.scrollIntoView()
        window.scrollTo({top: 0})
    }
}

watch([
    () => activeSection.value,
    () => activeTopic.value,
], () => navigateToSection(activeTopic.value, activeSection.value.slice(1)))

function getInViewSection() {
    return Array.from(content.value.querySelectorAll('.faq-section-heading'))
        .map(heading => {
            return {
                section: heading.dataset.section,
                top: heading.getBoundingClientRect().top,
            }
        })
        .sort((a, b) => {
            if (a.top > b.top) return 1
            if (a.top < b.top) return -1
            return 0
        })
        .filter(({top}) => top > 0)[0]?.section || ''
}

function handleContentScroll() {
    const inViewSection = getInViewSection()
    if (inViewSection) activeSection.value = inViewSection
}

onMounted(() => {
    const defaultTopic = tableOfContents[0].topic
    const defaultSection = tableOfContents[0].sections[0]

    navigateToSection(
        activeTopic.value || defaultTopic, 
        activeSection.value.slice(1) || defaultSection
    )
})
</script>

<style lang="less" scoped>
@import '@/styles/bundle.less';

.faq {
    width: 70%;
    height: calc(100vh - @navHeight);
    display: flex;
    flex-direction: row;

    .navigation {
        width: 15em;
        height: max-content;
        padding: 2em 1em;
        display: flex;
        flex-direction: column;
        gap: 2em;
        background: @background-2;
        border-radius: .5em;
        
        .topic {
            position: relative;
            width: 100%;
            
            &::before {
                content: attr(data-title);
                position: absolute;
                width: max-content;
                top: -1.5em;
                left: 0;
                color: @accent-1;
            }

            ul li {
                list-style-type: none;
                margin-left: .5em;
                cursor: pointer;
                margin-top: .2em;

                &.active {
                    color: @accent-2;
                    text-decoration: underline;
                }

            }

        }

    }

    .content {
        flex: 1;
        padding: 1em 3em;
        box-sizing: border-box;
        overflow-y: auto;
    }

}
</style>

<style lang="less">
@import '@/styles/bundle.less';

.faq .content {
    h1, h2 {
        color: @accent;
    }

    h1 {
        font-size: 2em;
    }

    p {
        margin: .5em 0;
        text-indent: 1em;
    }

}
</style>
