<template>
    <section 
        v-if="!nodeEditorOptions.nodesViewOptions.maximized"
        class="input-result"
        :class="{maximized: nodeEditorOptions.resultViewOptions.maximized}"
    >
        <input-area v-if="!nodeEditorOptions.resultViewOptions.maximized"></input-area>
        <result-area></result-area>
    </section>
    <node-editor v-show="!nodeEditorOptions.resultViewOptions.maximized"></node-editor>
    <floating-wrap v-if="nodeEditorOptions.nodesViewOptions.maximized">
        <result-area floating :style="{height: '100%'}"></result-area>
    </floating-wrap>
</template>

<script setup>
import { onMounted, onUnmounted, watch } from 'vue'
import { onBeforeRouteLeave, useRouter } from 'vue-router'
import { useI18n } from 'vue-i18n'
import { useProjectLoader } from '@/composables/projectLoader'
import useNodeEditorOptions from '@/stores/nodeEditorOptionsStore'
import useNavStore from '@/stores/navStore'
import useProjectStore from '@/stores/projectStore'
import useDialogStore from '@/stores/dialogStore'
import ConfirmDialog from '@/components/Dialog/ConfirmDialog.vue'
import ExportDialog from '@/components/Dialog/ExportDialog.vue'
import FloatingWrap from '@/components/FloatingWrap.vue'
import InputArea from './IDE/InputArea.vue'
import ResultArea from './IDE/ResultArea.vue'
import NodeEditor from './IDE/NodeEditor.vue'

const { t } = useI18n()

const router = useRouter()
const nodeEditorOptions = useNodeEditorOptions()
const projectStore = useProjectStore()
const navStore = useNavStore()
const dialogStore = useDialogStore()

useProjectLoader(false)

onMounted(() => {
    navStore.addButton('go-to-edit', 'gear', () => {
        router.push({name: 'Project'})
    })
    navStore.addButton('save-project', 'save', () => {
        projectStore.save()
    })
    navStore.addButton('export', 'file-export', () => {
        dialogStore.callDialog(ExportDialog)
    })
})
onUnmounted(() => {
    navStore.deleteButton('save-project')
    navStore.deleteButton('go-to-edit')
    navStore.deleteButton('export')
})

watch(() => projectStore.modified, () => {
    navStore.patchButton('save-project', {
        classes: projectStore.modified ? ['alert'] : []
    })
})

onBeforeRouteLeave(async () => {
    if (!projectStore.modified) return true

    const save = await dialogStore.callDialog(ConfirmDialog, {
        message: t('IDE.notSavedAlert.soft'),
        okMessage: t('IDE.notSavedAlert.save'),
        cancelMessage: t('IDE.notSavedAlert.exit'),
    })

    if (save) projectStore.save()
    return true
})

function alertBeforeClose(event) {
    if (projectStore.modified) {
        event.preventDefault()
        event.returnValue = t('IDE.notSavedAlert.hard')
        return event.returnValue
    }
}
onMounted(() => window.addEventListener('beforeunload', alertBeforeClose))
onUnmounted(() => window.removeEventListener('beforeunload', alertBeforeClose))
</script>

<style lang="less" scoped>
@import '@/styles/bundle.less';

.input-result {
    width: 100%;
    height: calc((100vh - @navHeight) * 0.39);
    display: flex;
    justify-content: space-around;
    align-items: center;

    &.maximized {
        height: calc((100vh - @navHeight) * 0.99);;
    }

}
</style>
