<template>
<section class="projects-container">
    <ul class="projects-list">
        <li 
            v-for="project in projects" 
            :key="project"
            @click="openProject(project)"
        >
            <main>
                <h3>{{ project.name }}</h3>
                <p>{{ $t('home.lastModified') }}: {{ (new Date(project.lastChanged)).toLocaleString() }}</p>
            </main>
            <div class="controls">
                <font-awesome-icon 
                    icon="pen" 
                    class="fa-xl"
                    @click.stop="editProject(project)"
                />
            </div>
        </li>
        <p v-if="projects.length === 0">{{ $t('home.noProjects') }}</p>

        <li class="create-new" v-if="!createNew" @click="triggerCreateNewProject()">
            {{ $t('home.createNewProject') }}
        </li>
        <li 
            v-else
            class="create-new" 
            :class="{invalid: !newNameValid}"
        >
            <input 
                ref="newNameInput"
                type="text"
                placeholder="Enter project name"
                v-model="newName"
                @keypress.enter="createNewProject()"
            >
            <font-awesome-icon 
                icon="check" 
                class="icon-hover-button  fa-xl"
                @click="createNewProject()"
            />
            <font-awesome-icon 
                icon="xmark" 
                class="icon-hover-button fa-xl"
                @click="createNew = false"
            />
        </li>
    </ul>
    <article class="welcome-msg">
        <h2>{{ $t('home.welcome') }}</h2>
        <i18n-t keypath="home.about1" tag="p">
            <template v-slot:svgFiltersDoc>
                <a href="https://developer.mozilla.org/en-US/docs/Web/SVG/Tutorial/SVG_Filters_Tutorial" target="_blank">{{ $t('home.svgFilters') }}</a>
            </template>
        </i18n-t>
        <i18n-t keypath="home.about2" tag="p"></i18n-t>
        <i18n-t keypath="home.about3" tag="p">
            <template v-slot:FAQ>
                <router-link to="/faq">FAQ</router-link>
            </template>
        </i18n-t>
    </article>
</section>
</template>

<script setup>
import { nextTick, onMounted, ref, computed } from 'vue'
import { useRouter } from 'vue-router'
import useProjectStore from '@/stores/projectStore'
import useLoadingStore from '@/stores/loadingStore'

const router = useRouter()
const projectStore = useProjectStore()
const loadingStore = useLoadingStore()

const projects = ref([])
const createNew = ref(false)
const newName = ref('')
const newNameInput = ref(null)

onMounted(() => {
    loadingStore.loading = true
    projectStore.getProjects()
    .then(data => {
        projects.value = data.sort((a, b) => {
            if (a.lastChanged > b.lastChanged) return -1
            if (a.lastChanged < b.lastChanged) return 1
            return 0
        })
        loadingStore.loading = false
    })
})

const newNameValid = computed(() => !projects.value.map(({name}) => name).includes(newName.value))

async function triggerCreateNewProject() {
    createNew.value = true
    await nextTick()
    newNameInput.value.focus()
}

function createNewProject() {
    if (!newNameValid.value && newName.value.length !== 0) return
    projectStore.create(newName.value)
    .then(openProject)
}

function openProject(project) {
    router.push(`/projects/${project.id}/ide`)
}

function editProject(project) {
    router.push(`/projects/${project.id}/`)
}
</script>

<style lang="less" scoped>
@import '@/styles/bundle.less';

.projects-container {
    width: 60%;
    display: flex;
    justify-content: left;
    align-items: center;
    
    .projects-list {
        flex: 4;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.5rem;
        padding: 0 3rem;

        li {
            .rounded();
            position: relative;
            list-style-type: none;
            width: 100%;
            min-height: 5rem;
            height: max-content;
            overflow: hidden;
            background: @background-2;
            cursor: pointer;
            transition: .4s;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;

            * {
                transition: .4s;
            }

            main {
                display: flex;
                flex-direction: column;
                gap: .5rem;
                flex: 9;
                padding: 1rem;
            }

            .controls {
                flex: 1;
                height: inherit;
                display: flex;
                align-items: center;
                justify-content: space-around;

                @keyframes write {
                    0% {transform: rotate(0);}
                    30% {transform: rotate(-10deg);}
                    90% {transform: rotate(10deg);}
                    100% {transform: rotate(0);}
                }

                &:deep(svg:hover) {
                    animation: write .5s;
                }

            }

            &:hover {
                background: @accent-1;
                transform: translateX(1rem);

                &:deep(.controls svg path) {
                    fill: @background-2;
                }

                * {
                    color: @background-1;
                }
            }

            &.create-new {
                background: none;
                border: 2px solid @accent-1;
                color: @accent-2;
                flex-direction: row;
                align-items: center;
                justify-content: space-around;
                width: 90%;
                min-height: unset;
                height: 3rem;
                text-align: center;

                &.invalid {
                    border-color: @failure;
                }

                &:hover {
                    background: none;
                    transform: none;
                    width: 95%;
                }

                input {
                    height: 100%;
                    background: none;
                    outline: none;
                    border: none;
                    color: @foreground-1;
                    font-size: 1.5rem;
                    width: 80%;
                }
            }
        }

    }

    .welcome-msg {
        flex: 3;
        display: flex;
        flex-direction: column;
        gap: .5rem;

        h2 {
            color: @accent-1;
            font-size: 2rem;
        }

    }

}
</style>
