<template>
<font-awesome-icon 
    icon="chevron-up" 
    class="icon-hover-button"
    :style="{
        transform: `rotate(${expanded ? 0 : 180}deg)`
    }"
    @click="expanded = !expanded"
/>
</template>

<script setup>
import { defineProps, defineEmits, computed } from 'vue'

const props = defineProps({
    modelValue: Boolean
})

const emit = defineEmits(['update:modelValue'])

const expanded = computed({
    get() {
        return props.modelValue
    },
    set(val) {
        emit('update:modelValue', val)
    }
})
</script>

