<template>
<h3>{{ message }}</h3>
<section class="controls">
    <form-button 
        @click="dialogStore.resolve(true)"
        success
    >{{ okMessage || $t('dialog.confirm.ok') }}</form-button>
    <form-button 
        @click="dialogStore.resolve(false)"
        failure 
        weak
    >{{ cancelMessage || $t('dialog.confirm.cancel') }}</form-button>
</section>
</template>

<script setup>
import { defineProps } from 'vue'
import useDialogStore from '@/stores/dialogStore'
import FormButton from '@/components/Form/FormButton.vue'

defineProps({
    message: String,
    okMessage: String,
    cancelMessage: String,
})

const dialogStore = useDialogStore()
</script>

<style lang="less" scoped>
@import '@/styles/bundle.less';

.controls {
    display: flex;
    gap: 1rem;
}
</style>
