<template>
<aside 
    class="dialog-overlay"
>
    <dialog 
        ref="dialog"
        @keydown.esc.prevent
    >
       <component :is="dialogStore.form" v-bind="dialogStore.formOptions"></component>
    </dialog>
</aside>
</template>

<script setup>
import {onMounted, ref} from 'vue'
import useDialogStore from '@/stores/dialogStore'

const dialogStore = useDialogStore()

const dialog = ref(null)

onMounted(() => dialog.value.showModal())
</script>

<style lang="less" scoped>
@import '@/styles/bundle.less';

.dialog-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: @background-1;
    opacity: .8;

    dialog {
        outline: none;
        border: 1px solid @accent-1;
        border-radius: .5rem;
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        align-items: center;
        justify-content: center;
        padding: 2rem;
        background: @background-1;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

}
</style>
