<template>
<h3 class="export-heading">Your resulting filter</h3>

<html-code-block :code="filter" v-if="!renderError"></html-code-block>

<form-button 
        @click="dialogStore.resolve()"
        accent
        weak
>close</form-button>
{{ renderError }}
</template>

<script setup>
import { useFilterRender } from '@/composables/filterRender'
import useDialogStore from '@/stores/dialogStore'
import HtmlCodeBlock from '@/components/HtmlCodeBlock.vue'
import FormButton from '@/components/Form/FormButton.vue'

const dialogStore = useDialogStore()

const {filter, renderError} = useFilterRender()

</script>

<style lang="less" scoped>
@import '@/styles/bundle.less';

.export-heading {
    color: @accent-1;
}
</style>
