<template>
    <form class="result-settings" action="javascript:void(0)">
        <section class="field">
            <label>
                {{ $t('IDE.target.settings.preset') }}:
            </label>
            <div class="input-wrap">
                <form-radio
                    v-model="settings.preset"
                    :options="['web', 'image']"
                    :texts="{
                        web: $t('IDE.target.settings.presets.web'),
                        image: $t('IDE.target.settings.presets.image'),
                    }"
                ></form-radio>
            </div>
        </section>

        <template v-if="settings.preset === 'web'">
            <section class="field">
                <label>
                    {{ $t('IDE.target.settings.sourceUrl') }}:
                </label>
                <form-input
                    v-model="settings.url"
                ></form-input>
            </section>

            <section class="field">
                <label>
                    {{ $t('IDE.target.settings.targetSelector') }}:
                </label>
                <form-input
                    v-model="settings.selector"
                ></form-input>
            </section>
        </template>

        <section class="field" v-if="settings.preset === 'image'">
            <label>
                {{ $t('IDE.target.settings.image') }}:
                <node-form-button
                    v-if="settings.image"
                    @click="settings.image = ''"
                >{{ $t('IDE.target.settings.reset') }}</node-form-button>
            </label>

            <node-form-image-display
                v-if="settings.image"
                :src="settings.image"
            ></node-form-image-display>

            <node-form-image-input
                v-else
                v-model="settings.image"
            ></node-form-image-input>
        </section>

        <section class="controls">
            <form-button 
                success
                @click="applySettings()"
            >{{ $t('IDE.target.settings.apply') }}</form-button>
            <form-button 
                failure
                weak
                @click="dialogStore.resolve()"
            >{{ $t('IDE.target.settings.exit') }}</form-button>
        </section>
    </form>
</template>

<script setup>
import { reactive } from 'vue'
import useDialogStore from '@/stores/dialogStore'
import useTargetStore from '@/stores/targetStore'
import FormButton from '@/components/Form/FormButton.vue'
import FormInput from '@/components/Form/FormInput.vue'
import FormRadio from '@/components/Form/FormRadio.vue'
import NodeFormImageDisplay from '@/components/NodeForm/NodeFormImageDisplay.vue'
import NodeFormImageInput from '@/components/NodeForm/NodeFormImageInput.vue'
import NodeFormButton from '@/components/NodeForm/NodeFormButton.vue'

const dialogStore = useDialogStore()
const targetStore = useTargetStore()

const settings = reactive({
    preset: targetStore.target.preset,
    url: targetStore.target.url,
    image: targetStore.target.image,
    selector: targetStore.target.selector
})

function applySettings() {
    targetStore.applySettings(settings)
    dialogStore.resolve()
}
</script>
    
<style lang="less" scoped>
@import '@/styles/bundle.less';

.result-settings {
    display: flex;
    gap: .5rem;
    align-items: flex-start;
    flex-direction: column;
    width: 40vw;
    padding: 0 .5rem;

    .field {
        width: 100%;
        display: flex;
        align-items: center;

        label {
            flex: 1;
            max-width: 30%;
        }

        :deep(input), .input-wrap {
            flex: 2;
        }

        .image-display, .drop-zone {
            width: 40%;
        }

    }

    .controls {
        display: flex;
        gap: 1rem;
    }

}
</style>
        