<template>
<img :src="ChromeSrc" alt="chrome-logo" class="chrome-logo">
<p>
    To provide you with the best possible user experience, svgear has been developed
    using some <span>experimental features</span>. Therefore, some minor functions
    <span>may not work if you use a browser that is not based on Chromium</span>.
    To use the full functionality, you can download, for example: Google Chrome, Yandex Browser, Microsoft Edge.
</p>
<section class="controls">
    <form-label>
        don't show again:
        <form-switch
            v-model="dontShowAgain"
        ></form-switch>
    </form-label>
    <form-button 
        @click="dialogStore.resolve(!dontShowAgain)"
        accent
    >ok</form-button>
</section>
</template>

<script setup>
import { ref } from 'vue'
import useDialogStore from '@/stores/dialogStore'
import ChromeSrc from '@/assets/chrome.png'
import FormButton from '@/components/Form/FormButton.vue'
import FormSwitch from '@/components/Form/FormSwitch.vue'
import FormLabel from '@/components/Form/FormLabel.vue'

const dialogStore = useDialogStore()
const dontShowAgain = ref(false)
</script>
    
<style lang="less" scoped>
@import '@/styles/bundle.less';

.chrome-logo {
    width: 10rem;
}

p {
    width: 30rem;
    text-align: center;

    span {
        color: @accent-1;
    }

}

.controls {
    margin-top: 1rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
</style>
    