<template>
    <form class="input-settings" action="javascript:void(0)">
        <section class="field">
            <label>
                {{ $t('IDE.target.settings.position') }}:
            </label>
            <form-input
                v-model="settings.filterArea.x"
            ></form-input>
            <form-input
                v-model="settings.filterArea.y"
            ></form-input>
        </section>
        <section class="field">
            <label>
                {{ $t('IDE.target.settings.size') }}:
            </label>
            <form-input
                v-model="settings.filterArea.width"
            ></form-input>
            <form-input
                v-model="settings.filterArea.height"
            ></form-input>
        </section>

        <section class="controls">
            <form-button 
                success
                @click="applySettings()"
            >{{ $t('IDE.target.settings.apply') }}</form-button>
            <form-button 
                failure
                weak
                @click="dialogStore.resolve()"
            >{{ $t('IDE.target.settings.exit') }}</form-button>
        </section>
    </form>
</template>

<script setup>
import { reactive } from 'vue'
import useDialogStore from '@/stores/dialogStore'
import useTargetStore from '@/stores/targetStore'
import FormButton from '@/components/Form/FormButton.vue'
import FormInput from '@/components/Form/FormInput.vue'

const dialogStore = useDialogStore()
const targetStore = useTargetStore()

const settings = reactive({
    filterArea: {
        x: targetStore.target.filterArea.x,
        y: targetStore.target.filterArea.y,
        width: targetStore.target.filterArea.width,
        height: targetStore.target.filterArea.height,
    }
})

function applySettings() {
    targetStore.applySettings(settings)
    dialogStore.resolve()
}
</script>
    
<style lang="less" scoped>
@import '@/styles/bundle.less';

.input-settings {
    display: flex;
    gap: .5rem;
    align-items: flex-start;
    flex-direction: column;
    width: 40vw;
    padding: 0 .5rem;

    .field {
        width: 100%;
        display: flex;
        align-items: center;
        gap: 1rem;

        label {
            flex: 1;
        }

        :deep(input) {
            flex: 2;
        }
    }

    .controls {
        display: flex;
        gap: 1rem;
    }

}
</style>
        