<template>
    <header 
        @mousedown.left="nodesStore.grabNode(context.node.id)"
    >
        <input 
            type="text" 
            v-if="editing"
            ref="newNameInput"
            v-model="newName"
            :placeholder="context.node.name"
            @blur="changeName"
            @keypress.enter="changeName"
        >
        <template v-else>
            <h4>{{ context.node.name }} </h4>
            <font-awesome-icon 
                icon="pen" 
                class="icon-hover-button"
                @click="editing = true"
            />
            <font-awesome-icon 
                v-if="context.node.root"
                icon="flag" 
                class="icon-success fa-lg root-flag"
            />
        </template>
    </header>
</template>

<script setup>
import { computed, ref, watchPostEffect } from 'vue'
import useNodesStore from '@/stores/nodesStore'
import { useNodeContext } from '@/composables/nodeContext'

const nodesStore = useNodesStore()
const context = useNodeContext()

const editing = ref(false)
const newNameInput = ref(null)
const newName = ref('')

const cursorStyle = computed(() => nodesStore.grabbedNode.name === context.node.name ? 'grabbing' : 'grab')

watchPostEffect(() => {
    if (editing.value) {
        newNameInput.value.focus()
    }
})

function changeName() {
    editing.value = false
    nodesStore.changeNodeName(context.node.id, newName.value)
    newName.value = ''
}
</script>

<style lang="less" scoped>
@import '@/styles/bundle.less';

header {
    .rounded-top();
    position: relative;
    background: @background-3;
    padding: .3rem .5rem;
    width: max-content;
    max-width: 70%;
    cursor: v-bind('cursorStyle');
    display: flex;
    gap: .3rem;
    align-items: center;

    .root-flag {
        margin-left: .5rem;
    }

    h4 {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        text-decoration: underline;
        user-select: none;
    }

    input[type="text"] {
        width: 100%;
        outline: none;
        border: none;
        border-bottom: 1px solid @foreground-1;
        background: none;
    }
        
}
</style>