<template>
    <form 
        :ref="self => context.nodeDOM = self"
        @contextmenu="handleContext"
        @submit.prevent
        :class="{grabbed: nodesStore.grabbedNode.id === id}"
    >
        <filter-node-header></filter-node-header>
        <main>
            <node-form-section 
                name="output"
                output
                :type="outputType"
            >{{ $t('IDE.nodes.output') }}: </node-form-section>

            <node-form-section 
                v-if="node.values.in1 !== undefined"
                name="in1"
                input
                :type="in1Type"
            >
                <node-form-label>
                    in1:
                    <node-form-select 
                        :options="['SourceGraphic', 'SourceAlpha', 'BackgroundImage', 'BackgroundAlpha', 'FillPaint', 'StrokePaint']"
                        v-model="node.values.in1"
                        :disabled="isConnected('in1')"
                    ></node-form-select>
                </node-form-label>
            </node-form-section>

            <node-form-section
                v-if="node.values.in2 !== undefined"
                name="in2"
                input
                :type="in2Type"
            >
                <node-form-label>
                    in2:
                    <node-form-select 
                        :options="['SourceGraphic', 'SourceAlpha', 'BackgroundImage', 'BackgroundAlpha', 'FillPaint', 'StrokePaint']"
                        v-model="node.values.in2"
                        :disabled="isConnected('in2')"
                    ></node-form-select>
                </node-form-label>
            </node-form-section>

            <slot v-bind="tools"></slot>

            <template v-if="node.values.defineArea">
                <node-form-section separate>
                    <node-form-label>{{ $t('IDE.nodes.areaSettings') }}</node-form-label>
                </node-form-section>
                <node-form-section>
                    <node-form-label>
                        x/y:
                        <node-form-text
                            v-model="node.values.area.x"
                        ></node-form-text>
                        <node-form-text
                            v-model="node.values.area.y"
                        ></node-form-text>
                    </node-form-label>
                </node-form-section>
                <node-form-section>
                    <node-form-label>
                        w/h:
                        <node-form-text
                            v-model="node.values.area.width"
                        ></node-form-text>
                        <node-form-text
                            v-model="node.values.area.height"
                        ></node-form-text>
                    </node-form-label>
                </node-form-section>
            </template>
        </main>
    </form>
</template>

<script setup>
import { computed, defineProps, reactive, defineEmits } from 'vue'
import { useI18n } from 'vue-i18n'
import { useRouter } from 'vue-router'
import useNodesStore from '@/stores/nodesStore'
import useNodeEditorOptions from '@/stores/nodeEditorOptionsStore'
import useNodeConnections from '@/stores/nodeConnectionsStore'
import useContextMenu from '@/stores/contextMenu'
import { provideNodeContext } from '@/composables/nodeContext'
import FilterNodeHeader from '@/components/FilterNodeHeader.vue'
import NodeFormSection from '@/components/NodeForm/NodeFormSection.vue'
import NodeFormLabel from '@/components/NodeForm/NodeFormLabel.vue'
import NodeFormSelect from '@/components/NodeForm/NodeFormSelect.vue'
import NodeFormText from '@/components/NodeForm/NodeFormText.vue'

const { t } = useI18n()
const router = useRouter()

const nodesStore = useNodesStore()
const nodeEditorOptions = useNodeEditorOptions()
const nodeConnections = useNodeConnections()
const contextMenuStore = useContextMenu()

const props = defineProps({
    id: String,
    in1Type: String,
    in2Type: String,
    outputType: String,
})

const emit = defineEmits(['tools'])

const node = nodesStore.getNode(props.id)

const context = reactive({
    nodeDOM: undefined,
    node,
})
provideNodeContext(context)

const convertedPosition = computed(() => {
    return {
        x: (nodeEditorOptions.nodesContainerOptions.width / 2 + node.x) + 'px',
        y: (nodeEditorOptions.nodesContainerOptions.height / 2 + node.y) + 'px',
    }
})

function isConnected(vertex) {
    return nodeConnections.isVertexConnected(node.id, vertex)
}

const tools = reactive({
    isConnected,
    values: node.values,
    context,
})
emit('tools', tools)

function handleContext() {
    contextMenuStore.addPoint({
        text: t('IDE.context.deleteNode'),
        click: () => nodesStore.deleteNode(props.id),
    })

    if (!node.root && !node.slave) {
        contextMenuStore.addPoint({
            text: t('IDE.context.markAsRoot'),
            separate: false,
            click: () => nodesStore.markNodeAsRoot(props.id),
        })
    }

    if (!node.slave) {
        contextMenuStore.addPoint({
            text: node.values.defineArea ? t('IDE.context.disableArea') : t('IDE.context.defineArea'),
            separate: false,
            click: () => node.values.defineArea = !node.values.defineArea,
        })
    }

    contextMenuStore.addPoint({
        text: t('IDE.context.openFAQ'),
        separate: false,
        click: () => router.push(node.FAQUri()),
    })

}
</script>

<style lang="less" scoped>
@import '@/styles/bundle.less';

form {
    position: absolute;
    display: block;
    font-size: .8rem;
    left: v-bind('convertedPosition.x');
    top: v-bind('convertedPosition.y');
    width: 15rem;
    text-align: left;
    user-select: none;

    &.grabbed {
        z-index: 5;
    }
    
    main {
        width: 100%;
        height: max-content;
        .rounded();
        border-top-left-radius: 0;
        background: @background-3;
        display: flex;
        flex-direction: column;
        border-top: 1px solid @accent-1;
    }

}
</style>
