<template>
    <section
        ref="wrap"
        class="floating-window"
    >
        <span 
            class="drag-zone"
            @mousedown="grab($event, grabModeMove)"
        >
            <font-awesome-icon 
                icon="up-down-left-right" 
                @click="editing = true"
            />
        </span>
        <span 
            class="resize-zone"
            @mousedown="grab($event, grabModeResize)"
        >
            <font-awesome-icon 
                icon="arrows-up-down" 
                @click="editing = true"
            />
        </span>
        <slot></slot>
    </section>
</template>

<script setup>
import { ref, computed, onMounted, onUnmounted, reactive } from 'vue'

const grabModeMove = 'move'
const grabModeResize = 'resize'
const grabMode = ref(undefined)
const grabPosition = reactive({
    x: 0,
    y: 0
})
const position = reactive({
    x: 60,
    y: 60,
})
const height = ref(20)

function grab({clientX, clientY}, mode) {
    grabMode.value = mode
    grabPosition.x = clientX
    grabPosition.y = clientY
}

function mouseMove({clientX, clientY}) {
    if (grabMode.value === grabModeMove) {
        position.x += grabPosition.x - clientX
        position.y += clientY - grabPosition.y
    }
    if (grabMode.value === grabModeResize) {
        const inc = (clientY - grabPosition.y) / Math.max(document.documentElement.clientHeight || 0, window.innerHeight || 0)
        height.value += inc * 100
    }
    if (grabMode.value) grab({clientX, clientY}, grabMode.value)
}
onMounted(() => window.addEventListener('mousemove', mouseMove))
onUnmounted(() => window.removeEventListener('mousemove', mouseMove))

function drop() {
    grabMode.value = undefined
}
onMounted(() => window.addEventListener('mouseup', drop))
onUnmounted(() => window.removeEventListener('mouseup', drop))

const style = computed(() => {
    return {
        top: `${position.y}px`,
        right: `${position.x}px`,
        height: `${height.value}vh`,
        resizeZonePosition: {
            top: `calc(${height.value}vh + ${position.y}px)`,
            right: `calc(${position.x}px - 1rem)`
        }
    }
})
</script>

<style lang="less" scoped>
@import '@/styles/bundle.less';

.floating-window {
    .rounded();
    position: fixed;
    border: 2px solid @accent-1;
    top: v-bind('style.top');
    right: v-bind('style.right');
    height: v-bind('style.height');
    align-self: 16/9;
    z-index: 100;

    .control {
        width: 1rem;
        height: 1rem;
        border-radius: .5rem;
        background: @accent-1;
        position: fixed;
        font-size: .6em;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1;
    }

    .drag-zone {
        .control();
        cursor: grab;
        transform: translate(-100%, -100%);
    }

    .resize-zone {
        .control();
        cursor: ns-resize;
        top: v-bind('style.resizeZonePosition.top');
        right: v-bind('style.resizeZonePosition.right');
    }
}
</style>
