<template>
<section class="code">
    <button 
        class="copy-button"
        @click="copy()"
    >{{ copyText }}</button>
    <code class="code-block" ref="codeBlock">
        <template
            v-for="(token, i) in highlightedCode"
            :key="i"
        >
            <span v-if="typeof(token) === 'object'" :class="[token.type]">{{ token.text }}</span>
            <template v-else >{{ token }}</template>
        </template>
    </code>
</section>
</template>

<script setup>
import { defineProps, computed, ref } from 'vue'
import { useI18n } from 'vue-i18n'

const { t } = useI18n()

const props = defineProps({
    code: String,
})

const copied = ref(false)
const copyText = computed(() => 
        copied.value ?  t('IDE.components.codeBlock.copiedText') : t('IDE.components.codeBlock.copyText')
    )
const codeBlock = ref(null)

const makeToken = (type, text) => {return {type, text}}

function tagAttributeValue(ch) {
    const token = makeToken('attribute-value', ch)

    switch (ch) {
        case '"':
            return [tagAttributes, makeToken('tag-attribute', ch)]
        default:
            return [tagAttributeValue, token]
    }
}

function tagAttributes(ch) {
    const token = makeToken('tag-attribute', ch)

    switch (ch) {
        case '\n':
            return [tagAttributes, makeToken('break', '')]
        case '/':
            return tagName(ch)
        case ' ':
            return [tagAttributes, makeToken('space', ' ')]
        case '>':
            return tagName(ch)
        case '"':
            return [tagAttributeValue, token]
        default:
            return [tagAttributes, token]
    }
}

function tagName(ch) {
    const token = makeToken('tag-name', ch)

    switch (ch) {
        case '>':
            return [initialState, token]
        case ' ':
            return [tagAttributes, ' ']
        default:
            return [tagName, token]
    }
}

function initialState(ch) {
    switch (ch) {
        case '\n':
            return [initialState, makeToken('break', '')]
        case ' ':
            return [initialState, makeToken('space', ' ')]
        case '<':
            return tagName(ch)
        default:
            return [initialState, ch]
    }
}

const highlightedCode = computed(() => {
    const tokens = []
    let state = initialState

    for (const ch of props.code) {
        let token
        [state, token] = state(ch)
        if (tokens.length && token.type === tokens.at(-1).type && token.type !== 'space') {
            tokens.at(-1).text += token.text
        } else {
            tokens.push(token)
        }
    }

    return tokens
})

function copy() {
    navigator.clipboard.writeText(props.code)
        .then(() => copied.value = true)
}
</script>

<style lang="less" scoped>
@import '@/styles/bundle.less';

.code {
    position: relative;
    width: 90%;
    max-width: 50vw;
    font-size: 1rem;
    padding: .5em;
    border: 1px solid @accent;
    background: @background-2;
    line-height: 1.4em;
    .rounded();

    .copy-button {
        .rounded();
        cursor: pointer;
        outline: none;
        border: 1px solid @accent;
        background: fade(@accent, 10%);
        position: absolute;
        bottom: calc(100% + .5em);
        right: 0;
        padding: .3rem .8rem;
        color: @accent-3;
    }

    .code-block {
        display: block;
        width: 100%;
        max-height: 20vh;
        overflow: auto;

        .break {
            display: block;
        }

        .space {
            display: inline-block;
            width: .5em;
        }

        .tag-name {
            color: @accent-1;
        }

        .tag-attribute {
            color: @accent-3;
        }

        .attribute-value {
            color: @success-4;
        }

}

}
</style>
