<template>
    <section 
        class="loading-overlay"
        @wheel.prevent
    >
        <svg width="640" height="640" viewBox="0 0 640 640" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_242_2)">
                <path d="M545.954 435.118L540.737 432.154L540.69 432.236L540.646 432.32L545.954 435.118ZM192.516 535.649C189.658 533.971 185.981 534.927 184.303 537.784C182.625 540.641 183.581 544.318 186.438 545.996L192.516 535.649ZM540.646 432.32C473.672 559.354 308.508 603.779 192.516 535.649L186.438 545.996C308.392 617.627 481.129 570.942 551.261 437.916L540.646 432.32ZM551.17 438.082C558.594 425.017 561.601 412.119 560.744 399.679C559.89 387.269 555.221 375.718 547.925 365.255C533.43 344.468 508.278 327.517 479.918 315.435C451.451 303.308 419.091 295.8 389.453 294.348C360.033 292.906 332.264 297.386 313.842 310.354L320.749 320.167C335.94 309.473 360.471 304.942 388.865 306.333C417.041 307.714 448.01 314.885 475.215 326.475C502.526 338.11 525.389 353.916 538.081 372.118C544.378 381.149 548.095 390.652 548.773 400.503C549.449 410.323 547.135 420.894 540.737 432.154L551.17 438.082Z" fill="#9CA3DB" />
                <path d="M306.404 55.252L306.445 61.2518L306.54 61.2512L306.634 61.2475L306.404 55.252ZM314.711 320.54C317.718 321.933 321.285 320.625 322.677 317.618C324.07 314.611 322.762 311.045 319.755 309.652L314.711 320.54ZM306.634 61.2475C450.136 55.7314 571.191 176.556 570.185 311.073L582.185 311.163C583.242 169.732 456.443 43.4801 306.173 49.2564L306.634 61.2475ZM306.363 49.2521C291.326 49.3559 278.649 53.2357 268.309 60.258C257.996 67.2614 250.345 77.1597 244.951 88.7953C234.234 111.912 232.169 142.397 235.923 173.23C239.691 204.177 249.405 236.187 262.992 262.757C276.476 289.126 294.258 311.065 314.711 320.54L319.755 309.652C302.91 301.848 286.701 282.764 273.676 257.293C260.753 232.023 251.439 201.377 247.835 171.779C244.218 142.067 246.438 114.119 255.838 93.8424C260.502 83.7813 266.867 75.7427 275.051 70.1851C283.206 64.6465 293.505 61.3412 306.445 61.2518L306.363 49.2521Z" fill="#9CA3DB" />
                <path d="M99.5494 455.02L104.725 451.985L104.677 451.903L104.626 451.823L99.5494 455.02ZM189.206 98.6685C192.088 97.0331 193.099 93.371 191.463 90.4889C189.828 87.6069 186.166 86.5962 183.284 88.2316L189.206 98.6685ZM104.626 451.823C28.0985 330.305 72.208 165.056 189.206 98.6685L183.284 88.2316C60.2729 158.031 14.3349 330.968 94.4723 458.218L104.626 451.823ZM94.3741 458.056C101.979 471.02 111.645 480.051 122.85 485.48C134.027 490.896 146.36 492.548 159.056 491.369C184.275 489.027 211.482 475.481 236.074 456.734C260.76 437.914 283.39 413.416 299.428 388.307C315.347 363.385 325.322 336.987 323.303 314.558L311.352 315.634C313.018 334.145 304.691 357.775 289.315 381.848C274.058 405.734 252.4 429.198 228.799 447.191C205.102 465.255 180.022 477.37 157.947 479.421C146.996 480.438 136.931 478.969 128.083 474.681C119.262 470.407 111.276 463.153 104.725 451.985L94.3741 458.056Z" fill="#9CA3DB" />
                <circle cx="578" cy="317" r="30" fill="#9CA3DB" />
                <circle cx="187" cy="98" r="30" fill="#9CA3DB" />
                <circle cx="187" cy="542" r="30" fill="#9CA3DB" />
            </g>
            <defs>
                <clipPath id="clip0_242_2">
                    <rect width="640" height="640" fill="white" />
                </clipPath>
            </defs>
        </svg>
    </section>
</template>

<script setup>

</script>

<style lang="less" scoped>
@import '@/styles/bundle.less';

.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;

    @keyframes rotate {
        0% {transform: rotate(0deg);}
        100% {transform: rotate(360deg);}
    }

    svg {
        width: 10rem;
        height: 10rem;
        animation: rotate 2s infinite linear;
    }

}
</style>
