<template>
    <header>
        <img :src="LogoImg">
        <span class="separator"></span>
        <nav>
            <router-link to="/">
                <font-awesome-icon 
                    icon="home" 
                    class="icon-nav-button fa-xl"
                />
            </router-link>
            <router-link to="/faq">
                <font-awesome-icon 
                    icon="circle-question" 
                    class="icon-nav-button fa-xl"
                />
            </router-link>
        </nav>
        <span class="separator"></span>
        <nav>
            <div class="icon-wrap"
                v-for="button in navStore.buttons"
                :key="button.key"
            >
                <font-awesome-icon
                    :icon="button.icon"
                    @click="button.click()" 
                    :class="['icon-nav-button', 'fa-xl', ...button.classes]"
                />
            </div>
        </nav>
        <h1>{{ navStore.heading }}</h1>
        <nav class="locale">
            <transition-group name="locale-rotate">
                <span
                    v-for="locale in $i18n.availableLocales"
                    :key="locale"
                    v-show="locale === $i18n.locale"
                >
                    {{ locale.toUpperCase() }}
                </span>
            </transition-group>
            <div class="icon-wrap">
                <font-awesome-icon
                    icon="globe" 
                    class="icon-nav-button fa-xl"
                    @click="nextLocale"
                />
            </div>
        </nav>
    </header>
</template>

<script setup>
import { useI18n } from 'vue-i18n'
import { saveLocale } from '@/locale'
import useNavStore from '@/stores/navStore'
import LogoImg from '@/assets/logo.svg'

const i18n = useI18n({useScope: 'global'})

const navStore = useNavStore()

function nextLocale() {
    const available = i18n.availableLocales
    let index = available.findIndex(l => l === i18n.locale.value) + 1
    if (index >= available.length) index = 0

    const locale = available[index]

    i18n.locale.value = locale
    saveLocale(locale)
}
</script>

<style lang="less" scoped>
@import '@/styles/bundle.less';

header {
    .rounded-bottom();
    position: relative;
    background: @background-2;
    height: @navHeight;
    line-height: @navHeight;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 0 .5rem;
    gap: .5rem;

    h1 {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        color: @foreground-1;
        font-size: 1rem;
    }

    img {
        height: 80%;
    }

    .separator {
        height: 90%;
        border-left: 1px solid @background-4;
    }

    .locale {
        margin-left: auto;
        position: relative;

        span {
            position: absolute;
            right: 2rem;
        }

        .locale-rotate-enter-active,
        .locale-rotate-leave-active {
            transition: all .3s ease-in-out;
            transform-origin: 2rem center;
        }

        .locale-rotate-enter-from {
            transform: rotate(-180deg);
            opacity: 0;
        }

        .locale-rotate-leave-to {
            transform: rotate(180deg);
            opacity: 0;
        }

    }

    nav {
        display: flex;
        gap: .8rem;

        .icon-wrap {
            position: relative;

            @keyframes blink {
                0% {opacity: 0;}
                10% {opacity: 1;}
                90% {opacity: 1;}
                100% {opacity: 0;}
            }

            &:has(svg.alert)::after {
                content: "";
                position: absolute;
                width: .5rem;
                height: .5rem;
                top: .2rem;
                right: -.5rem;
                border-radius: .25rem;
                background: @accent-1;
                animation: 3s blink infinite;
            }
        }

    }

}
</style>
