<template>
    <svg 
        :viewBox="`
            ${-nodeEditorOptions.nodesContainerOptions.width / 2}
            ${-nodeEditorOptions.nodesContainerOptions.height / 2}
            ${nodeEditorOptions.nodesContainerOptions.width} 
            ${nodeEditorOptions.nodesContainerOptions.height}
        `" 
        :width="nodeEditorOptions.nodesContainerOptions.width" 
        :height="nodeEditorOptions.nodesContainerOptions.height"
    >
        <node-connection 
            v-for="connection in nodeConnections.connections"
            :key="connectionId(connection)"
            v-bind="connection"
        ></node-connection>
    </svg>
</template>

<script setup>
import connectionConst from '@/utl/connectionConst'
import useNodeEditorOptions from '@/stores/nodeEditorOptionsStore'
import useNodeConnections from '@/stores/nodeConnectionsStore'
import NodeConnection from '@/components/NodeConnection.vue'

const nodeEditorOptions = useNodeEditorOptions()
const nodeConnections = useNodeConnections()
function connectionId({from, to}) {
    function getSubId(point) {
        if (point.type !== connectionConst.connectionTypes.vertex) return point.type
        return `${point.nodeId}_${point.vertexName}`
    }
    return `${getSubId(from)}=>${getSubId(to)}`
}
</script>

<style lang="less" scoped>
svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

</style>
