<template>
<Transition name="slide">
    <section class="nodes-explorer" v-if="visible">
        <ul class="nodes-list">
            <li>
                <h4>{{ $t('IDE.editor.explorer.title') }}</h4>
                <span class="icons">
                    <font-awesome-icon
                        @click="visible = false"
                        icon="arrow-left" 
                        class="icon-hover-button"
                    />
                </span>
            </li>
            <li
                v-for="node in sortedNodes"
                :key="node.id"
                :class="{root: node.root}"
            >
                {{ node.name }}
                <span class="icons">
                    <font-awesome-icon 
                        v-if="node.root"
                        icon="flag" 
                        class="icon-success"
                    />
                    <font-awesome-icon
                        @click="editorOptions.requestViewScroll(node.x, node.y)"
                        icon="crosshairs" 
                        class="icon-hover-button"
                    />
                </span>
            </li>
            <li v-if="nodesStore.nodes.length === 0">{{ $t('IDE.editor.explorer.empty') }}</li>
        </ul>
    </section>
</Transition>
<Transition name="slide">
    <button 
        v-if="!visible"
        @click="visible = true"
        class="show-explorer-btn"
    >
        <font-awesome-icon 
            icon="arrow-right" 
            class="fa-xl"
        />
    </button>
</Transition>
</template>

<script setup>
import { computed, ref } from 'vue'
import useNodesStore from '@/stores/nodesStore'
import useNodeEditorOptions from '@/stores/nodeEditorOptionsStore'

const nodesStore = useNodesStore()
const editorOptions = useNodeEditorOptions()

const sortedNodes = computed(() => nodesStore.nodes
    .toSorted((a, b) => {
        if (a.root) return -1
        if (b.root) return 1
        if (a.name > b.name) return 1
        if (a.name < b.name) return -1
        return 0
    })
)

const visible = ref(true)
</script>

<style lang="less" scoped>
@import '@/styles/bundle.less';

.nodes-explorer {
    .rounded();
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    position: absolute;
    top: 50%;
    left: 0;
    width: max-content;
    height: max-content;
    max-height: 80%;
    overflow-y: auto;
    background: fade(@background-4, 90%);
    transform: translate(0, -50%);
    font-size: .8rem;
    border: 1px solid @accent-1;
    border-left: none;
    user-select: none;
    
    .nodes-list {

        li {
            padding: .5rem 1rem;
            list-style-type: none;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 3rem;
            user-select: none;
            
            &:not(:last-child) {
                border-bottom: 1px solid fade(@accent-1, 50%);
            }

            &:first-child {
                border-bottom-color: @accent-1;
            }

            &.root {
                color: @success-4;
            }

            .icons {
                display: flex;
                gap: .5rem;
            }

        }

    }

}

.show-explorer-btn {
    position: absolute;
    top: 50%;
    left: -3.5rem;
    background: none;
    border: 1px solid @accent-1;
    border-left: none;
    border-radius: 1.5rem;
    width: 6rem;
    height: 3rem;
    padding-left: 3rem;
    transform: translateY(-50%);
    cursor: pointer;
    transition: background .1s ease-in-out;

    &:hover {
        background: @accent-1;
    }

}

.slide-enter-active,
.slide-leave-active {
    transition: transform .2s ease-out;
}

.slide-enter-from,
.slide-leave-to {
    transform: translate(-100%, -50%);
}
</style>
