<template>
<section class="node-editor-size-controls">
    <font-awesome-icon
        @click="nodeEditorOptions.toggleNodesViewMaximized()"
        :icon="nodeEditorOptions.nodesViewOptions.maximized ? 'minimize' : 'maximize'" 
        class="icon-hover-button"
    />
    <span>{{ $t('IDE.editor.scale') }}:</span> 
    <div class="scale-tool">
        <form-range
            v-model="nodeEditorOptions.nodesViewOptions.scale"
            :min="nodeEditorOptions.nodesViewOptions.scaleMin"
            :max="nodeEditorOptions.nodesViewOptions.scaleMax"
            :step="5"
            strict
            :style="{width: '100%'}"
        ></form-range>
    </div>
</section>
</template>

<script setup>
import useNodeEditorOptions from '@/stores/nodeEditorOptionsStore';
import FormRange from '@/components/Form/FormRange.vue'

const nodeEditorOptions = useNodeEditorOptions()
</script>

<style lang="less" scoped>
@import '@/styles/bundle.less';

.node-editor-size-controls {
    position: absolute;
    height: 1rem;
    bottom: 2rem;
    right: 3rem;
    display: flex;
    align-items: center;
    gap: .5rem;
    padding: .5rem 1rem;
    background: fade(@accent-1, 20%);
    border: 1px solid fade(@accent-1, 80%);
    border-radius: 1rem;

    span {
        font-size: .7rem;
        user-select: none;
    }

    .scale-tool {
        font-size: .6rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 6rem;
    }

}
</style>
