<template>
    <path :d="pathCommands" fill="transparent" stroke-width="2"></path>
</template>

<script setup>
import { defineProps, computed } from 'vue'
import useNodesStore from '@/stores/nodesStore'
import useNodeConnections from '@/stores/nodeConnectionsStore'
import useNodeEditorOptions from '@/stores/nodeEditorOptionsStore'
import connectionConst from '@/utl/connectionConst'

const nodesStore = useNodesStore()
const nodeConnections = useNodeConnections()
const nodeEditorOptions = useNodeEditorOptions()

const props = defineProps({
    from: Object,
    to: Object
})

function convertCoordinates(point) { 
    try {
        switch(point.type) {
            case connectionConst.connectionTypes.vertex: {
                const node = nodesStore.getNode(point.nodeId)
                const vertex = nodeConnections.getVertex(point.nodeId, point.vertexName)
                return {
                    x: node.x + vertex.x, 
                    y: node.y + vertex.y
                }
            }
            case connectionConst.connectionTypes.cursor: {
                return nodeEditorOptions.nodesContainerOptions.cursor
            }
        }
    } catch {
        return {x: 0, y: 0}
    }
}

const pathCommands = computed(() => {
    const start = convertCoordinates(props.from)
    const end = convertCoordinates(props.to)
    return `M ${start.x} ${start.y} 
        C ${(start.x + end.x) / 2} ${start.y}
        ${(start.x + end.x) / 2} ${end.y}
        ${end.x} ${end.y}`
        .replaceAll('\n', '')
})

</script>

<style lang="less" scoped>
@import '@/styles/bundle.less';

path {
    stroke: @accent-1;
}

</style>
