<template>
    <section class="target-display" :style="style">
        <iframe 
            :src="src + `?bust=${cacheBust}&name=${name}`"
            :name="cacheBust"
            class="target-display"
            ref="container"
        ></iframe>

        <section class="error" v-if="errorMessage">
            <h3>{{ $t('IDE.target.errorOccured') }}</h3>
            <p>{{ errorMessage }}</p>
        </section>
        
        <section class="tools-alert" v-if="!toolsActive && applyFilter">
            <h3>{{ $t('IDE.target.toolsInactive') }}</h3>
            <p>{{ $t('IDE.target.sctiptIncludeMsg') }}</p>
            <html-code-block 
                :code="toolsScript"
            ></html-code-block>
        </section>

        <nav>
            <font-awesome-icon 
                icon="rotate-right" 
                class="icon-hover-button fa-l"
                @click="targetStore.callReload()"
            />
            <slot name="navbar"></slot>
        </nav>
    </section>
</template>

<script setup>
import { computed, defineProps, onMounted, onUnmounted, ref, watch } from 'vue'
import useTargetStore from '@/stores/targetStore'
import HtmlCodeBlock from '@/components/HtmlCodeBlock.vue'

const props = defineProps({
    filter: String,
    applyFilter: Boolean,
    error: String,
    name: String,
    style: Object,
})

const targetStore = useTargetStore()

const container = ref(null)
const cacheBust = ref('')
const localError = ref('')
const toolsActive = ref(false)
/* eslint-disable */
const toolsScript = ref(
`<script 
    type="text/javascript" 
    src="${process.env.VUE_APP_TOOLS_SERVER || ''}/svgear-tools.min.js"
><\/script>`
)

const errorMessage = computed(() => props.error || localError.value)

const src = computed(() => {
    switch (targetStore.target.preset) {
        case 'image':
            return `${process.env.VUE_APP_TOOLS_SERVER || ''}/presets/image`
    }
    return targetStore.target.url
})

const target = computed(() => {
    switch (targetStore.target.preset) {
        case 'image':
            return '#image-display'
    }
    return targetStore.target.selector
})

function post(cmd, payload = {}) {
    if (!container.value || !toolsActive.value) return

    const target = container.value.contentWindow
    target.postMessage({
        cmd,
        payload,
    }, '*')
}

function loadImage() {
    if (targetStore.target.preset !== 'image') return
    post('set-image', targetStore.target.image)
}
watch(() => targetStore.target.image, loadImage, {immediate: true})

function pushFilter() {
    if (!props.applyFilter || !props.filter) return
    localError.value = ''

    post('apply-filter', {
        filter: props.filter,
        target: target.value,
    })
}
watch([
    () => props.filter,
    () => src.value,
    () => target.value
], pushFilter, {immediate: true})

function bustCache() {
    cacheBust.value = Date.now()
}

watch(() => src.value, () => {
    toolsActive.value = false
    localError.value = ''
    bustCache()
}, {immediate: true})

function listenFrame(msg) {
    const { cmd, payload, from } = msg.data
    if (from !== props.name) return

    switch (cmd) {
        case 'tools-loaded':
            toolsActive.value = true
            loadImage()
            pushFilter()
            break
        case 'error':
            localError.value = payload
            break
    }
}
onMounted(() => window.addEventListener('message', listenFrame))
onUnmounted(() => window.removeEventListener('message', listenFrame))

watch(() => targetStore.needReload, () => {
    if (targetStore.needReload[props.name]) {
        if (toolsActive.value) post('reload-location')
        else bustCache()

        toolsActive.value = false
        targetStore.markReloaded(props.name)
    }
}, {deep: true})
</script>

<style lang="less" scoped>
@import '@/styles/bundle.less';

.target-display {
    .rounded();
    height: 95%;
    aspect-ratio: 16/9;
    overflow: hidden;
    position: relative;
    
    iframe {
        background: white;
        outline: none;
        border: none;
        width: 100%;
        height: 100%;
    }

    nav {
        position: absolute;
        right: 0;
        bottom: 2rem;
        padding: .3rem .1rem;
        border: 1px solid @accent;
        border-right-width: 0;
        border-radius: .3rem 0 0 .3rem;
        background: @background-1;
        display: flex;
        flex-direction: column;
        gap: .1rem;
    }

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        backdrop-filter: blur(10px);
        background: fade(@background-1, 90%);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .tools-alert {
        .overlay();
        gap: 1rem;

        h3 {
            color: @accent;
        }

        h3, p {
            text-align: center;
        }

        .code {
            margin-top: 2rem;
        }

    }

    .error {
        .overlay();
        text-align: center;

        h3 {
            color: @failure;
        }

        h3, p {
            text-align: center;
        }
    }
}
</style>
