<template>
<svg 
    ref="self"
    @mousemove="updateMouse"
>
    <g
        v-for="(tentacle, i) in tentacles"
        :key="i"
    >
        <path 
            ref="paths"
            :d="tentacle.path"
            :stroke-dasharray="tentacle.dashArray || ''" 
            fill="transparent" 
            stroke-width="4"
        ></path>
        <circle
            v-if="tentacle.knot"
            :cx="tentacle.knot.x"
            :cy="tentacle.knot.y"
            r="8"
        ></circle>
    </g>
</svg>
</template>

<script setup>
import { computed, defineProps, ref, watch } from 'vue'

const props = defineProps({
    topLeft: {
        type: Number,
        default: 0,
    },
    bottomLeft: {
        type: Number,
        default: 0,
    },
    topRight: {
        type: Number,
        default: 0,
    },
    bottomRight: {
        type: Number,
        default: 0,
    },
    targetX: Number,
    targetY: Number,
})

const self = ref(null)
const correctrions = ref([])
const paths = ref([])

function tentaclesFrom(x, y, count, angleModifyer) {
    if (count === 0) return []

    const targetX = props.targetX
    const targetY = props.targetY
    const r = 400
    const result = []

    for (let i = 0; i < count; i++) {
        const angle = angleModifyer + Math.PI / 2 * (i + 1) / (count + 1)
        const endX = targetX - Math.cos(angle) * r
        const endY = targetY + Math.sin(angle) * r

        result.push({path: `
            M ${x} ${y}
            C ${(x + endX) / 2} ${y}
              ${(x + endX) / 2} ${endY}
              ${endX} ${endY}  
        `.replaceAll('\n', '')})
    }

    return result
}

function setKnots(tentacles) {
    return tentacles.map((tentacle, i) => {
        const path = paths.value[i]
        if (!path) return tentacle

        const length = path.getTotalLength()
        const position = length * (correctrions.value[i] || 0.2)
        const point = path.getPointAtLength(position)
        return {
            ...tentacle,
            dashArray: `${position} ${length}`,
            knot: {
                x: point.x,
                y: point.y,
            }
        }
    })
}

const tentacles = computed(() => {
    if (!self.value) return []
    const width = self.value.clientWidth
    const height = self.value.clientHeight
    return setKnots([
        ...tentaclesFrom(0, 0, props.topLeft, Math.PI/2),
        ...tentaclesFrom(width, 0, props.topRight, Math.PI),
        ...tentaclesFrom(width, height, props.bottomRight, Math.PI*3/2),
        ...tentaclesFrom(0, height, props.bottomLeft, 0),
    ])
})

function fillCorrections() {
    correctrions.value = Array.from(
            {length: props.bottomLeft + props.topLeft + props.topRight + props.bottomRight}, 
            () => Math.random() * 0.2 + 0.2
        )
}
watch(
    () => props.bottomLeft + props.topLeft + props.topRight + props.bottomRight
, fillCorrections, {
    immediate: true
})
</script>

<style lang="less" scoped>
@import '@/styles/bundle.less';

svg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    path {
        stroke: fade(@accent-1, 50%);
    }

    circle {
        fill: @accent-1;
    }

}
</style>
