<template>
    <h1>{{ $t('faq.filterElements.title') }}</h1>
    
    <faq-section name="feBlend">
        <faq-image :src="feBlendImg"></faq-image>
        <i18n-t tag="p" :keypath="topicContext(`feBlend.content`)"></i18n-t>
    </faq-section>

    <faq-section name="feColorMatrix">
        <faq-image :src="feColorMatrixImg"></faq-image>
        <i18n-t tag="p" :keypath="topicContext(`feColorMatrix.content`)"></i18n-t>
        <faq-pre :content="
`| R' |     | r1 r2 r3 r4 r5 |   | R |
| G' |     | g1 g2 g3 g4 g5 |   | G |
| B' |  =  | b1 b2 b3 b4 b5 | * | B |
| A' |     | a1 a2 a3 a4 a5 |   | A |
| 1  |     | 0  0  0  0  1  |   | 1 |`
        "></faq-pre>
    </faq-section>

    <faq-section name="feComponentTransfer">
        <faq-image :src="feComponentTransfer"></faq-image>
        <i18n-t tag="p" :keypath="topicContext(`feComponentTransfer.content.1`)"></i18n-t>
        <i18n-t tag="p" :keypath="topicContext(`feComponentTransfer.content.2`)">
            <template v-slot:transferChannel>
                <router-link to="/faq/filter_elements#transfer_channel">Transfer Channel</router-link>
            </template>
        </i18n-t>
    </faq-section>

    <faq-section name="feComponentTransferChannel">
        <faq-image :src="feTransferChannel"></faq-image>
        <i18n-t tag="p" :keypath="topicContext(`feComponentTransferChannel.content`)">
            <template v-slot:componentTransfer>
                <router-link to="/faq/filter_elements#component_transfer">Component Transfer</router-link>
            </template>
        </i18n-t>
    </faq-section>

    <faq-section name="feComposite">
        <faq-image :src="feComposite"></faq-image>
        <i18n-t tag="p" :keypath="topicContext(`feComposite.content`)"></i18n-t>
    </faq-section>

    <faq-section name="feConvolveMatrix">
        <faq-image :src="feConvolveMatrix"></faq-image>
        <i18n-t tag="p" :keypath="topicContext(`feConvolveMatrix.content`)"></i18n-t>
    </faq-section>

    <faq-section name="feDiffuseLighting">
        <faq-image :src="feDiffuseLighting"></faq-image>
        <i18n-t tag="p" :keypath="topicContext(`feDiffuseLighting.content`)">
            <template v-slot:lightSources>
                <router-link to="/faq/filter_elements#distant_light">Distant Light</router-link>,
                <router-link to="/faq/filter_elements#point_light">Point Light</router-link>,
                <router-link to="/faq/filter_elements#spot_light">Spot Light</router-link>
            </template>
        </i18n-t>
    </faq-section>

    <faq-section name="feDisplacementMap">
        <faq-image :src="feDisplacementMap"></faq-image>
        <i18n-t tag="p" :keypath="topicContext(`feDisplacementMap.content`)">
            <template v-slot:displacementFormula>
                <faq-pre :content="
`P'(x,y) ← P(x + scale * (XC(x,y) - 0.5), y + scale * (YC(x,y) - 0.5))`
                "></faq-pre>
            </template>
        </i18n-t>
    </faq-section>

    <faq-section name="feDistantLight">
        <faq-image :src="feDistantLight"></faq-image>
        <i18n-t tag="p" :keypath="topicContext(`feDistantLight.content`)">
            <template v-slot:diffuseLighting>
                <router-link to="/faq/filter_elements#diffuse_lighting">Diffuse Lighting</router-link>
            </template>
            <template v-slot:specularLighting>
                <router-link to="/faq/filter_elements#specular_lighting">Specular Lighting</router-link>
            </template>
        </i18n-t>
    </faq-section>
    
    <faq-section name="feFlood">
        <faq-image :src="feFlood"></faq-image>
        <i18n-t tag="p" :keypath="topicContext(`feFlood.content`)"></i18n-t>
    </faq-section>

    <faq-section name="feGaussianBlur">
        <faq-image :src="feGaussianBlur"></faq-image>
        <i18n-t tag="p" :keypath="topicContext(`feGaussianBlur.content`)"></i18n-t>
    </faq-section>

    <faq-section name="feImage">
        <faq-image :src="feImage"></faq-image>
        <i18n-t tag="p" :keypath="topicContext(`feImage.content`)"></i18n-t>
    </faq-section>

    <faq-section name="feMerge">
        <faq-image :src="feMerge"></faq-image>
        <i18n-t tag="p" :keypath="topicContext(`feMerge.content`)"></i18n-t>
    </faq-section>

    <faq-section name="feMorphology">
        <faq-image :src="feMorphology"></faq-image>
        <i18n-t tag="p" :keypath="topicContext(`feMorphology.content`)"></i18n-t>
    </faq-section>

    <faq-section name="feOffset">
        <faq-image :src="feOffset"></faq-image>
        <i18n-t tag="p" :keypath="topicContext(`feOffset.content`)"></i18n-t>
    </faq-section>

    <faq-section name="fePointLight">
        <faq-image :src="fePointLight"></faq-image>
        <i18n-t tag="p" :keypath="topicContext(`fePointLight.content`)">
            <template v-slot:diffuseLighting>
                <router-link to="/faq/filter_elements#diffuse_lighting">Diffuse Lighting</router-link>
            </template>
            <template v-slot:specularLighting>
                <router-link to="/faq/filter_elements#specular_lighting">Specular Lighting</router-link>
            </template>
        </i18n-t>
    </faq-section>

    <faq-section name="feSpecularLighting">
        <faq-image :src="feSpecularLighting"></faq-image>
        <i18n-t tag="p" :keypath="topicContext(`feSpecularLighting.content`)">
            <template v-slot:lightSources>
                <router-link to="/faq/filter_elements#distant_light">Distant Light</router-link>,
                <router-link to="/faq/filter_elements#point_light">Point Light</router-link>,
                <router-link to="/faq/filter_elements#spot_light">Spot Light</router-link>
            </template>
        </i18n-t>
    </faq-section>

    <faq-section name="feSpotLight">
        <faq-image :src="feSpotLight"></faq-image>
        <i18n-t tag="p" :keypath="topicContext(`feSpotLight.content`)">
            <template v-slot:diffuseLighting>
                <router-link to="/faq/filter_elements#diffuse_lighting">Diffuse Lighting</router-link>
            </template>
            <template v-slot:specularLighting>
                <router-link to="/faq/filter_elements#specular_lighting">Specular Lighting</router-link>
            </template>
        </i18n-t>
    </faq-section>

    <faq-section name="feTile">
        <faq-image :src="feTile"></faq-image>
        <i18n-t tag="p" :keypath="topicContext(`feTile.content`)"></i18n-t>
    </faq-section>

    <faq-section name="feTurbulence">
        <faq-image :src="feTurbulence"></faq-image>
        <i18n-t tag="p" :keypath="topicContext(`feTurbulence.content`)"></i18n-t>
    </faq-section>
</template>

<script setup>
import { useFAQTools } from '@/composables/faqTools'

import FaqSection from '@/components/faq/FaqSection.vue'
import FaqImage from '@/components/faq/FaqImage.vue'
import FaqPre from '@/components/faq/FaqPre.vue'

import feBlendImg from '@/assets/nodesExamples/feBlend.png'
import feColorMatrixImg from '@/assets/nodesExamples/feColorMatrix.png'
import feComponentTransfer from '@/assets/nodesExamples/feComponentTransfer.png'
import feTransferChannel from '@/assets/nodesExamples/feTransferChannel.png'
import feComposite from '@/assets/nodesExamples/feComposite.png'
import feConvolveMatrix from '@/assets/nodesExamples/feConvolveMatrix.png'
import feDiffuseLighting from '@/assets/nodesExamples/feDiffuseLighting.png'
import feDisplacementMap from '@/assets/nodesExamples/feDisplacementMap.png'
import feDistantLight from '@/assets/nodesExamples/feDistantLight.png'
import feFlood from '@/assets/nodesExamples/feFlood.png'
import feGaussianBlur from '@/assets/nodesExamples/feGaussianBlur.png'
import feImage from '@/assets/nodesExamples/feImage.png'
import feMerge from '@/assets/nodesExamples/feMerge.png'
import feMorphology from '@/assets/nodesExamples/feMorphology.png'
import feOffset from '@/assets/nodesExamples/feOffset.png'
import fePointLight from '@/assets/nodesExamples/fePointLight.png'
import feSpecularLighting from '@/assets/nodesExamples/feSpecularLighting.png'
import feSpotLight from '@/assets/nodesExamples/feSpotLight.png'
import feTile from '@/assets/nodesExamples/feTile.png'
import feTurbulence from '@/assets/nodesExamples/feTurbulence.png'

const {defineTopicContext, topicContext} = useFAQTools()
defineTopicContext('filterElements')
</script>
