<template>
    <h1>{{ $t('faq.basics.title') }}</h1>

    <faq-section name="aboutTool">
        <i18n-t tag="p" :keypath="topicContext(`aboutTool.content.1`)">
            <template v-slot:svgFiltersDoc>
                <a href="https://developer.mozilla.org/en-US/docs/Web/SVG/Tutorial/SVG_Filters_Tutorial" target="_blank">{{ $t(topicContext('aboutTool.content.svgFilters')) }}</a>
            </template>
        </i18n-t>
        <i18n-t tag="p" :keypath="topicContext(`aboutTool.content.2`)"></i18n-t>
        <i18n-t tag="p" :keypath="topicContext(`aboutTool.content.3`)"></i18n-t>
    </faq-section>

    <faq-section name="nodes">
        <faq-image :src="nodesDemo"></faq-image>
        <i18n-t tag="p" :keypath="topicContext('nodes.content')"></i18n-t>
    </faq-section>

    <faq-section name="nodesConnections">
        <faq-image :src="nodesConnectionsDemo"></faq-image>
        <i18n-t tag="p" :keypath="topicContext('nodesConnections.content')">
            <template v-slot:nodeVertex>
                <span class="node-vertex-example"></span>
            </template>
        </i18n-t>
    </faq-section>

    <faq-section name="rootNode">
        <i18n-t tag="p" :keypath="topicContext('rootNode.content')">
            <template v-slot:rootNodeMark>
                <font-awesome-icon 
                    icon="flag" 
                    class="icon-success fa-lg root-flag"
                />
            </template>
        </i18n-t>
    </faq-section>

    <faq-section name="example">
        <i18n-t tag="p" :keypath="topicContext('example.content.1')"></i18n-t>
        <html-code-block class="faq-code" :code="exampleCodes.src"></html-code-block>
        <i18n-t tag="p" :keypath="topicContext('example.content.2')"></i18n-t>
        <faq-image :src="faqExampleSrcImg"></faq-image>
        <i18n-t tag="p" :keypath="topicContext('example.content.3')"></i18n-t>
        <faq-image :src="shadowNoMerge"></faq-image>
        <i18n-t tag="p" :keypath="topicContext('example.content.4')"></i18n-t>
        <html-code-block class="faq-code" :code="exampleCodes.noMergeFilter"></html-code-block>
        <i18n-t tag="p" :keypath="topicContext('example.content.5')"></i18n-t>
        <faq-image :src="fullShadow"></faq-image>
        <i18n-t tag="p" :keypath="topicContext('example.content.6')"></i18n-t>
        <html-code-block class="faq-code" :code="exampleCodes.finalFilter"></html-code-block>
        <i18n-t tag="p" :keypath="topicContext('example.content.7')"></i18n-t>
        <faq-image :src="faqExampleResultImg"></faq-image>
    </faq-section>
</template>

<script setup>
// import { ref } from 'vue'
import { useFAQTools } from '@/composables/faqTools'

import FaqSection from '@/components/faq/FaqSection.vue'
import FaqImage from '@/components/faq/FaqImage.vue'
import HtmlCodeBlock from '@/components/HtmlCodeBlock.vue'

import nodesDemo from '@/assets/nodesExamples/nodesDemo.png'
import nodesConnectionsDemo from '@/assets/nodesExamples/nodesConnectionsDemo.png'
import faqExampleSrcImg from '@/assets/faqExampleSrcImg.png'
import shadowNoMerge from '@/assets/nodesExamples/shadowNoMerge.png'
import fullShadow from '@/assets/nodesExamples/fullShadow.png'
import faqExampleResultImg from '@/assets/faqExampleResultImg.png'

const {defineTopicContext, topicContext} = useFAQTools()
defineTopicContext('basics')

/* eslint-disable */
const exampleCodes = {
src: 
`<svg version="1.1" width="300" height="200" xmlns="http://www.w3.org/2000/svg">
    <rect width="100%" height="100%" fill="#f1f7ed" />
    <circle cx="150" cy="100" r="80" fill="#9ea5dc"/>
</svg>`,
noMergeFilter:
`<filter id="drop_shadow">
    <feGaussianBlur in="SourceAlpha" result="Gaussian_Blur" stdDeviation="3"/>
    <feOffset in="Gaussian_Blur" result="Offset" dx="8" dy="8"/>
</filter>`,
finalFilter:
`<svg version="1.1" width="300" height="200" xmlns="http://www.w3.org/2000/svg">
    <defs>
        <filter id="drop_shadow">
            <feOffset in="SourceGraphic" result="Offset_#2" dx="0" dy="0" />
            <feGaussianBlur in="SourceAlpha" result="Gaussian_Blur" stdDeviation="3" />
            <feOffset in="Gaussian_Blur" result="Offset" dx="8" dy="8" />
            <feMerge result="Merge">
                <feMergeNode in="Offset" />
                <feMergeNode in="Offset_#2" />
            </feMerge>
        </filter>
    </defs>
    <rect width="100%" height="100%" fill="#f1f7ed" />
    <circle cx="150" cy="100" r="80" fill="#9ea5dc" filter="url(#drop_shadow)"/>
</svg>`
}

</script>

<style lang="less" scoped>
@import '@/styles/bundle.less';

.node-vertex-example {
    width: .7em;
    height: .7em;
    border-radius: .35em;
    background: @accent-1;
    display: inline-block;
}

.faq-code {
    margin: auto;
    margin-top: 3rem;
}
</style>
