<template>
    <div class="drop-zone"
        @dragenter.prevent
        @dragover.prevent="over = true"
        @drop.prevent="handleDrop"
        @dragend.prevent="over = false"
        @dragleave.prevent
    >
        <span>
            {{ 
                over ? 
                $t('IDE.components.imageInput.dropIt') : 
                $t('IDE.components.imageInput.instructions')
            }}
        </span>
        <button 
            v-if="!over"
            @click="fileInput.click()"
        >{{ $t('IDE.components.imageInput.browse') }}</button>

        <input 
            type="file" 
            accept=".png,.jpg,.jpeg,.svg"
            ref="fileInput"
            @change="handleFileInput"
        />
    </div>
</template>

<script setup>
import { ref, defineProps, defineEmits } from 'vue'

defineProps({
    modelValue: String,
})

const emit = defineEmits(['update:modelValue'])

const fileInput = ref(null)
const over = ref(false)

async function setValue(file) {
    const reader = new FileReader()
    reader.readAsDataURL(file)
    reader.onload = () => emit('update:modelValue', reader.result)
}

function handleDrop(event) {
    over.value = false

    const item = event.dataTransfer.items[0]
    if (!item) return

    const file = item.getAsFile()
    if (file) {
        setValue(file)
    } else {
        item.getAsString(
            link => fetch(link)
            .then(r => r.blob())
            .then(setValue)
            .catch(() => {})
        )
    }
}

function handleFileInput() {
    setValue(fileInput.value.files[0])
}
</script>

<style lang="less" scoped>
@import '@/styles/bundle.less';

.drop-zone {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: @background-4;
    width: 100%;
    aspect-ratio: 1.61/1;
    gap: .3rem;
    .form-rounded();

    span {
        color: @accent-1;
    }

    button {
        border: 1px solid @accent-1;
        outline: none;
        background: none;
        padding: .2rem .4rem;
        color: @accent-1;
        .form-rounded();
        cursor: pointer;
    }

    input[type="file"] {
        display: none;
    }

}
</style>
