<template>
    <input :type="type" v-model="value"/>
</template>

<script setup>
import { defineProps, defineEmits, computed } from 'vue';

const props = defineProps({
    modelValue: [String, Number],
})

const emit = defineEmits(['update:modelValue'])

const value = computed({
  get() {
    return props.modelValue
  },
  set(value) {
    emit('update:modelValue', value)
  }
})

const type = computed(() => typeof props.modelValue === 'number' ? 'number' : 'text')
</script>

<style lang="less" scoped>
@import '@/styles/bundle.less';

input {
    outline: none;
    width: 40%;
    background: @foreground-1;
    color: @background-3;
    .form-rounded();
    border: none;
    padding: .1rem .2rem;
}
</style>
