<template>
    <node-form-str-floating-tool
        :value="props.modelValue.flat().join(',')"
    >
        <div class="matrix">
            <table>
                <tr v-for="(line, i) in modelValue" :key="i">
                    <td v-for="(cell, j) in line" :key="j">
                        <input 
                            :value="cell" 
                            @change="updateCell(i, j, $event.target.value)"
                        >
                    </td>
                </tr>
            </table>
        </div>
    </node-form-str-floating-tool>  
</template>

<script setup>
import { defineProps, defineEmits } from 'vue';
import NodeFormStrFloatingTool from '@/components/NodeForm/NodeFormStrFloatingTool.vue';

const props = defineProps({
    modelValue: Array,
})

const emit = defineEmits(['update:modelValue'])

function updateCell(i, j, value) {
    const numValue = parseFloat(value)
    if (isNaN(numValue)) return
    const update = [...props.modelValue.map(line => [...line])]
    update[i][j] = numValue
    emit('update:modelValue', update)
}
</script>

<style lang="less" scoped>
@import '@/styles/bundle.less';
.matrix {
    width: max-content;
    height: max-content;
    .form-rounded();
    border-top-left-radius: 0;
    border-top: 1px solid @background-3;
    background: @foreground-1;

    table tr {
        display: flex;
        flex-direction: row;
        gap: 0;

        td {
            input {
                width: 2rem;
                border: 1px solid @background-4;
                border-top: none;
                border-left: none;
                text-align: center;
                margin: 0;
                border-radius: 0;
                color: @background-1;
            }

            &:last-of-type input {
                border-right: none;
            }
        }

        &:last-of-type input {
            border-bottom: none;
        }
    }

}
</style>
