<template>
    <div 
        class="vertex" 
        :class="[role]"
        @mouseover="softConnect()"
        @mouseout="dropSoftConnect()"
    >
        <div 
            class="visible-vertex" 
            :class="{disabled}"
            ref="self"
            @mousedown="mouseDown"
        ></div>
    </div>
</template>

<script setup>
import { defineProps, onMounted, onUnmounted, ref, computed, watchPostEffect } from 'vue'
import useNodeConnections from '@/stores/nodeConnectionsStore'
import { useCoordinates } from '@/composables/coordinates'
import { useNodeContext } from '@/composables/nodeContext'
import connectionConst from '@/utl/connectionConst'

const props = defineProps({
    role: String, 
    name: String,
    type: String,
})

const nodeConnections = useNodeConnections()
const context = useNodeContext()
const { getDocumentCoordinates, getDocumentCenterCoordinates } = useCoordinates()

const self = ref(null)

function softConnect() {
    nodeConnections.softFinishConnect(context.node.id, props.name)
}

function dropSoftConnect() {
    nodeConnections.dropSoftFinishConnect()
}

function getOffset() {
    const selfPosition = getDocumentCenterCoordinates(self)
    const nodePosition = getDocumentCoordinates(context.nodeDOM)
    return {
        x: selfPosition.x - nodePosition.x,
        y: selfPosition.y - nodePosition.y
    }
}

onMounted(() => {
    const data = {
        role: props.role,
        name: props.name,
        type: props.type,
        ...getOffset(),
    }
    nodeConnections.registerVertex(context.node.id, data)
})

function  mouseDown() {
    if (props.role === connectionConst.vertexRoles.output) nodeConnections.initConnectionFrom(context.node.id, props.name)
    else nodeConnections.softizeConnection(context.node.id, props.name)
}

const disabled = computed(() => !nodeConnections.isConnectionCondidate(context.node.id, props.name))
const needUpdate = computed(() => {
    const vertex = nodeConnections.getVertex(context.node.id, props.name)
    return vertex && vertex.needUpdate
})

watchPostEffect(() => {
    if (needUpdate.value) nodeConnections.updateVertex(context.node.id, props.name, getOffset())
})

onUnmounted(() => {
    nodeConnections.unregisterVertex(context.node.id, props.name)
})
</script>

<style lang="less" scoped>
@import '@/styles/bundle.less';

@visibleSize: .6rem;
@areaSize: 1.5rem;

.vertex {
    position:  absolute;
    width: @areaSize;
    height: @areaSize;
    border-radius: @areaSize*.5;
    display: flex;
    justify-content: center;
    align-items: center;

    &.input {
        left: -@areaSize*.5;
    }

    &.output {
        right: -@areaSize*.5;
    }

    .visible-vertex {
        width: @visibleSize;
        height: @visibleSize;
        border-radius: @visibleSize*.5;
        background: @accent-1;
        cursor: pointer;

        &.disabled {
            background: @background-4;
            cursor: not-allowed;
        }

    }

}
</style>
