<template>
  <form-range
    :mouse-corrector="corrector"
  ></form-range>
</template>

<script setup>
import FormRange from '@/components/Form/FormRange.vue'
import useNodeEditorOptions from '@/stores/nodeEditorOptionsStore'

const nodeEditorOptions = useNodeEditorOptions()

function corrector({x, y}) {
  const scale = nodeEditorOptions.nodesViewOptions.scale / 100
  return {
    x: x / scale,
    y: y / scale,
  }
}
</script>
