<template>
    <button><slot></slot></button>
</template>

<style lang="less" scoped>
@import '@/styles/bundle.less';

button {
    outline: none;
    border: none;
    background: @accent-1;
    .form-rounded;
    color: @background-1;
    font-size: .7rem;
    padding: .05rem .3rem;
    cursor: pointer;
}
</style>
