<template>
<div class="floating-str-tool" ref="self">
    <span 
        @click.stop.prevent="showFloating()" 
        :class="{ floatingVisible }"
    >{{ value }}</span>
    <font-awesome-icon
        v-if="floatingVisible"
        icon="xmark"
        class="icon-hover-button"
        size="lg"
        @click.stop.prevent="hideFloating()"
    />

    <div class="floating" v-if="floatingVisible">
        <slot></slot>
    </div>

</div>
</template>

<script setup>
import { ref, defineProps } from 'vue'
import { useFloatingTool } from '@/composables/floatingTool'

defineProps({
    value: String,
})

const self = ref(null)
const { floatingVisible, showFloating, hideFloating } = useFloatingTool(self)
</script>

<style lang="less" scoped>
@import '@/styles/bundle.less';

.floating-str-tool {
    position: relative;
    width: 40%;
    display: flex;
    gap: .5rem;

    span {
        .form-rounded();
        width: 100%;
        background: @foreground-1;
        color: @background-1;
        padding: .1rem .3rem;
        font-size: .9em;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        cursor: pointer;

        &.floatingVisible {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }

    }

    .floating {
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 10;
    }

}
</style>
