<template>
    <input type="color" v-model="value"/>
</template>

<script setup>
import { defineProps, defineEmits, computed } from 'vue'

const props = defineProps({
    modelValue: String,
})

const emit = defineEmits(['update:modelValue'])

const value = computed({
  get() {
    return props.modelValue
  },
  set(value) {
    emit('update:modelValue', value)
  }
})
</script>

<style lang="less" scoped>
@import '@/styles/bundle.less';

input {
    outline: none;
    height: 1.2rem;
    width: 1.2rem;
    border: none;
    background: transparent;
    cursor: pointer;

    &::-webkit-color-swatch-wrapper {
        padding: 0;
    }

    &::-webkit-color-swatch {
        .form-rounded();
    }

}
</style>
