<template>
    <div class="image-display">
        <span v-show="srcErr">&lt;img\&gt;</span>
        <img 
            v-show="!srcErr"
            :src="src"
            @load="srcErr = false"
            @error="srcErr = true"
        />
    </div>
</template>

<script setup>
import { defineProps, ref } from 'vue'

defineProps({
    src: String
})

const srcErr = ref(true)
</script>

<style lang="less" scoped>
@import '@/styles/bundle.less';

.image-display {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: @background-4;
    width: 100%;
    aspect-ratio: 1.61/1;
    gap: .3rem;
    .form-rounded();
    overflow: hidden;

    span {
        color: @accent-1;
    }

    img {
        max-width: 100%;
        max-height: 100%;
        width: auto;
        height: auto;
    }
}
</style>
