<template>
    <node-form-str-floating-tool
        :value="modelValue.join(',')"
    >
        <ul>
            <li v-for="(val, index) in modelValue" :key="index">
                <node-form-range
                    :model-value="val"
                    @update:model-value="updateTableVal(index, $event)"
                    :min="0"
                    :max="1"
                    :step="1e-2"
                    :style="{width: '100%', margin: 0}"
                ></node-form-range>
                <font-awesome-icon
                    icon="xmark"
                    class="icon-hover-button"
                    size="lg"
                    @click.stop.prevent="deleteTableVal(index)"
                />
            </li>
            <font-awesome-icon
                icon="plus"
                class="icon-hover-button"
                size="lg"
                @click.stop.prevent="addKnot()"
            />
        </ul>
    </node-form-str-floating-tool>
</template>

<script setup>
import {defineProps, defineEmits } from 'vue'
import NodeFormStrFloatingTool from '@/components/NodeForm/NodeFormStrFloatingTool.vue'
import NodeFormRange from '@/components/NodeForm/NodeFormRange.vue';

const props = defineProps({
    modelValue: Array,
    defaultSize: {
        type: Number,
        default: 5,
    },
})

const emit = defineEmits(['update:modelValue'])

function updateTableVal(i, val) {
    const update = [...props.modelValue]
    update[i] = val
    emit('update:modelValue', update)
}

function deleteTableVal(i) {
    const update = [...props.modelValue]
    update.splice(i, 1)
    emit('update:modelValue', update)
}

function addKnot() {
    emit('update:modelValue', [...props.modelValue, 0])
}

</script>

<style lang="less" scoped>
@import '@/styles/bundle.less';
ul {
    background: @background-4;
    .form-rounded();
    border-top-left-radius: 0;
    width: 10rem;
    padding: 0rem .3rem .4rem .3rem;
    border: 1px solid @accent-1;
    list-style-type: none;

    li {
        margin-top: .4rem;
        display: flex;
        gap: .3rem;

        &:last-of-type {
            margin-bottom: .4rem;
        }

    }

}
</style>
