<template>
    <section :class="{ separate, weak }">
        <slot></slot>

        <node-form-vertex 
            v-if="input" 
            :role="connectionConst.vertexRoles.input" 
            :type="type"
            :name="name"
        ></node-form-vertex>
        <node-form-vertex 
            v-if="output"
            :role="connectionConst.vertexRoles.output"
            :type="type"
            :name="name"
        ></node-form-vertex>
    </section>
</template>

<script setup>
import { defineProps } from 'vue'
import connectionConst from '@/utl/connectionConst'
import NodeFormVertex from '@/components/NodeForm/NodeFormVertex.vue';

defineProps({
    input: Boolean,
    output: Boolean,
    name: String,
    type: String,
    separate: Boolean,
    weak: Boolean,
})
</script>

<style lang="less" scoped>
@import '@/styles/bundle.less';

section {
    width: 100%;
    height: max-content;
    min-height: 2rem;
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;
    padding: 0 .6rem;
    box-sizing: border-box;

    &.separate {
        border-top: 1px dashed @accent-1;
    }

    &.weak {
        border-color: fade(@foreground-1, 40%);
    }

}
</style>
