<template>
    <node-form-section separate>
        <node-form-label>
            <slot></slot>
            <node-from-button @click="addSrc">add</node-from-button>
        </node-form-label>
    </node-form-section>

    <node-form-section 
        v-for="name in modelValue" 
        :key="name"
        :name="name"
        :type="type"
        input
    >
        <node-form-label>{{ name }}</node-form-label>
        <font-awesome-icon
            icon="xmark"
            class="icon-hover-button"
            size="lg"
            @click.stop.prevent="deleteSrc(name)"
        />
    </node-form-section>
</template>

<script setup>
import { defineProps, defineEmits } from 'vue'
import { useNodeContext } from '@/composables/nodeContext'
import useNodeConnections from '@/stores/nodeConnectionsStore'
import NodeFormSection from '@/components/NodeForm/NodeFormSection.vue'
import NodeFormLabel from '@/components/NodeForm/NodeFormLabel.vue'
import NodeFromButton from '@/components/NodeForm/NodeFormButton.vue'

const context = useNodeContext()
const nodeConnections = useNodeConnections()

const props = defineProps({
    modelValue: Array,
    type: String,
})

const emit = defineEmits(['update:modelValue'])

function addSrc() {
    let name
    let index = 1

    const nextName = () => {
        name = '#' + index
        index++
    }
    nextName()
    
    const names = props.modelValue

    while (names.includes(name)) nextName()
    names.push(name)
    names.sort()
    emit('update:modelValue', names)
    nodeConnections.requestVertexesUpdate(context.node.id)
}

function deleteSrc(src) {
    const names = props.modelValue
    const index = names.indexOf(src)
    if (index !== -1) {
        names.splice(index, 1)
        emit('update:modelValue', names)
        nodeConnections.requestVertexesUpdate(context.node.id)
    } 
}

</script>
