<template>
<form-radio class="small-padding"></form-radio>
</template>

<script setup>
import FormRadio from '@/components/Form/FormRadio.vue';
</script>

<style lang="less" scoped>
.small-padding :deep(.radio-label) {
    padding: .05em;
}
</style>
