<template>
    <node-form-section separate>
        <node-form-label>
            {{ $t('IDE.nodes.advancedOptions') }}
        </node-form-label>
        <dropdown-toggler
            v-model="advanced"
        ></dropdown-toggler>
    </node-form-section>
    <slot v-if="advanced"></slot>
</template>

<script setup>
import { ref } from 'vue'
import NodeFormSection from '@/components/NodeForm//NodeFormSection.vue'
import NodeFormLabel from '@/components/NodeForm/NodeFormLabel.vue'
import DropdownToggler from '@/components/controls/DropdownToggler.vue'

const advanced = ref(false)

</script>
