<template>
    <select :disabled="disabled" v-model="value" :title="modelValue">
        <option 
          v-for="option in options"
          :key="option"
        >{{ option }}</option>
    </select>
</template>

<script setup>
import { defineProps, defineEmits, computed } from 'vue';

const props = defineProps({
    options: {
      type: Array,
      default: () => []
    },
    disabled: Boolean,
    modelValue: String,
})

const emit = defineEmits(['update:modelValue'])

const value = computed({
  get() {
    return props.modelValue
  },
  set(value) {
    emit('update:modelValue', value)
  }
})
</script>

<style lang="less" scoped>
@import '@/styles/bundle.less';

select {
    outline: none;
    width: 40%;
    background: @foreground-1;
    color: @background-3;
    .form-rounded();
    border: none;

    option {
        background: inherit;
        color: inherit;

        &:hover {
            background-color: @accent-1;
        }

    }
}
</style>
