@import './features/fonts.less';
@import './features/colors.less';
@import './features/icons.less';
@import './features/constants.less';

* {
    margin: 0;
    padding: 0;
    color: @foreground-1;

    *::-webkit-scrollbar {
        width: .5rem;
        height: .5rem;
    }

    *::-webkit-scrollbar-track {
        background: @background-1;
    }

    *::-webkit-scrollbar-thumb {
        background: @accent-1;
        border-radius: .25rem;
        border: 2px solid @background-1;
    }

    *::-webkit-scrollbar-corner {
        display: none;
    }

    *::selection {
        background: @accent-1;
        color: @background-1;
    }

}

body {
    background: @background-1;
    font-family: 'Victor Mono';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
}

a {
    color: @accent-1;
}

#app {
    min-height: calc(100vh + @navHeight);
    display: flex;
    flex-direction: column;
}
